Repository enso-org/ide, pull requests merged in 2020-07, with the labels that each got.

#621 The IDE team process specification
  README.md
  docs/.gitkeep
  docs/CONTRIBUTING.md
  docs/README.md
  docs/contributing/README.md
  docs/contributing/process.md
  docs/contributing/style-guide.md
  docs/product/README.md
  docs/product/shortcuts.md
  docs/product/visualizations.md
  src/rust/ensogl/docs/coordinates.md
Labels: Category: Documentation, Change: Non-Breaking, Difficulty: Core Contributor, Priority: Highest, Type: Enhancement, Type: Question

#627 Use correct cursor position for node dragging and node instantiation
  src/rust/lib/graph-editor/src/lib.rs
Labels: Category: IDE, Change: Non-Breaking, Difficulty: Beginner, Priority: High, Type: Bug

#620 Node entering and exiting
  build/run.js
  docs/product/shortcuts.md
  src/rust/ide/ast/impl/src/crumbs.rs
  src/rust/ide/ast/impl/src/opr.rs
  src/rust/ide/enso-protocol/src/binary/client.rs
  src/rust/ide/enso-protocol/src/handler.rs
  src/rust/ide/src/controller/graph.rs
  src/rust/ide/src/controller/graph/executed.rs
  src/rust/ide/src/controller/module.rs
  src/rust/ide/src/controller/project.rs
  src/rust/ide/src/double_representation.rs
  src/rust/ide/src/double_representation/definition.rs
  src/rust/ide/src/double_representation/graph.rs
  src/rust/ide/src/double_representation/module.rs
  src/rust/ide/src/double_representation/text.rs
  src/rust/ide/src/ide.rs
  src/rust/ide/src/lib.rs
  src/rust/ide/src/model/execution_context.rs
  src/rust/ide/src/model/module.rs
  src/rust/ide/src/model/registry.rs
  src/rust/ide/src/model/synchronized/execution_context.rs
  src/rust/ide/src/model/synchronized/module.rs
  src/rust/ide/src/notification.rs
  src/rust/ide/src/view/layout.rs
  src/rust/ide/src/view/node_editor.rs
  src/rust/ide/src/view/project.rs
  src/rust/ide/src/view/text_editor.rs
  src/rust/ide/tests/language_server.rs
  src/rust/lib/graph-editor/src/lib.rs
Labels: Category: IDE, Change: Non-Breaking, Difficulty: Core Contributor, Priority: High, Type: Enhancement

#618 Add IDE docs to Developer site
  .github/workflows/docs.yml
Labels: Category: Documentation, Change: Non-Breaking, Difficulty: Intermediate, Priority: High, Type: Enhancement

#630 Add frontmatter blocks to each documentation page
  docs/CONTRIBUTING.md
  docs/README.md
  docs/contributing/README.md
  docs/contributing/process.md
  docs/contributing/style-guide.md
  docs/product/README.md
  docs/product/shortcuts.md
  docs/product/visualizations.md
Labels: Category: Documentation, Change: Non-Breaking, Difficulty: Beginner, Priority: Medium, Type: Enhancement

#632 Detaching visualizations on entering/exiting nodes
  src/rust/ide/src/controller/graph/executed.rs
  src/rust/ide/src/model/execution_context.rs
  src/rust/ide/src/model/synchronized/execution_context.rs
  src/rust/ide/src/view/node_editor.rs
Labels: Category: IDE, Change: Non-Breaking, Difficulty: Core Contributor, Priority: Highest, Type: Enhancement

#643 Proper Handling Blank Lines When Adding Node
  src/rust/ide/src/double_representation/graph.rs
Labels: Category: IDE, Change: Non-Breaking, Difficulty: Beginner, Priority: Highest, Type: Enhancement

#645 The `flatc` usage shall be guarded by environment variable
  docs/CONTRIBUTING.md
  src/rust/ide/lib/enso-protocol/build.rs
Labels: Category: External, Change: Non-Breaking, Difficulty: Intermediate, Type: Enhancement

#642 Searcher uses node editor's controller to add nodes
  src/rust/ide/src/view/layout.rs
  src/rust/ide/src/view/node_editor.rs
  src/rust/ide/src/view/node_searcher.rs
Labels: Category: IDE, Change: Non-Breaking, Type: Enhancement

#647 Pass the method pointers information to the graph editor.
  src/rust/Cargo.lock
  src/rust/ide/lib/view/Cargo.toml
  src/rust/ide/lib/view/src/graph_editor.rs
  src/rust/ide/src/controller/graph/executed.rs
  src/rust/ide/src/controller/project.rs
  src/rust/ide/src/model/execution_context.rs
  src/rust/ide/src/view/node_editor.rs
Labels: Category: IDE, Change: Non-Breaking, Difficulty: Core Contributor, Priority: Highest, Type: Enhancement

#646 Suggestions Database
  build/run.js
  src/rust/ide/lib/enso-protocol/src/language_server.rs
  src/rust/ide/lib/enso-protocol/src/language_server/response.rs
  src/rust/ide/lib/enso-protocol/src/language_server/tests.rs
  src/rust/ide/lib/enso-protocol/src/language_server/types.rs
  src/rust/ide/lib/enso-protocol/src/project_manager.rs
  src/rust/ide/lib/json-rpc/src/macros.rs
  src/rust/ide/src/controller.rs
  src/rust/ide/src/controller/graph.rs
  src/rust/ide/src/controller/graph/executed.rs
  src/rust/ide/src/controller/module.rs
  src/rust/ide/src/controller/text.rs
  src/rust/ide/src/ide.rs
  src/rust/ide/src/model.rs
  src/rust/ide/src/model/execution_context.rs
  src/rust/ide/src/model/module.rs
  src/rust/ide/src/model/project.rs
  src/rust/ide/src/model/registry.rs
  src/rust/ide/src/model/suggestion_database.rs
  src/rust/ide/src/model/synchronized/module.rs
  src/rust/ide/src/view/layout.rs
  src/rust/ide/src/view/node_editor.rs
  src/rust/ide/src/view/project.rs
  src/rust/ide/tests/language_server.rs
Labels: Category: IDE, Change: Non-Breaking, Difficulty: Core Contributor, Priority: High, Type: Enhancement

#648 Camera zfar hotfix
  src/rust/ensogl/src/display/camera/camera2d.rs
Labels: Category: BaseGL API, Category: BaseGL Renderer, Change: Non-Breaking, Difficulty: Beginner, Priority: Highest, Type: Bug

#657 `.strict()` breaks yargs on macOS big sur
  src/js/lib/client/src/index.js
Labels: Category: IDE, Difficulty: Unknown, Priority: Medium, Status: Info Needed, Type: Bug, Type: Research Needed

#625 Improved docs with custom visualization example
  docs/product/shortcuts.md
  docs/product/visualizations.md
  src/rust/ide/lib/view/src/graph_editor.rs
  src/rust/ide/lib/view/src/graph_editor/component/visualization/foreign/java_script/definition.rs
Labels: Category: BaseGL Renderer, Category: Documentation, Change: Non-Breaking, Difficulty: Core Contributor, Priority: Highest, Type: Enhancement

#654 Searcher Controller
  build/run.js
  docs/CONTRIBUTING.md
  docs/README.md
  docs/product/README.md
  docs/product/searcher.md
  docs/repository-structure.md
  src/rust/ide/src/controller.rs
  src/rust/ide/src/controller/searcher.rs
  src/rust/ide/src/model/suggestion_database.rs
  src/rust/ide/src/view/layout.rs
  src/rust/ide/src/view/node_editor.rs
  src/rust/ide/src/view/node_searcher.rs
Labels: Category: IDE, Change: Breaking, Difficulty: Intermediate, Priority: High, Type: Enhancement

#639 Editable project name in view
  src/rust/ensogl/src/display/shape/text/glyph/system.rs
  src/rust/ensogl/src/display/shape/text/text_field.rs
  src/rust/ensogl/src/display/shape/text/text_field/frp.rs
  src/rust/ensogl/src/display/shape/text/text_field/frp/mouse.rs
  src/rust/ensogl/src/display/shape/text/text_field/render.rs
  src/rust/ide/lib/view/src/debug_scenes/text_field.rs
  src/rust/ide/lib/view/src/debug_scenes/text_typing.rs
  src/rust/ide/lib/view/src/graph_editor.rs
  src/rust/ide/lib/view/src/graph_editor/component.rs
  src/rust/ide/lib/view/src/graph_editor/component/project_name.rs
  src/rust/ide/src/view.rs
  src/rust/ide/src/view/layout.rs
  src/rust/ide/src/view/node_editor.rs
  src/rust/ide/src/view/node_searcher.rs
  src/rust/ide/src/view/project_name.rs
  src/rust/ide/src/view/text_editor.rs
Labels: Category: IDE, Change: Non-Breaking, Difficulty: Core Contributor, Priority: Highest, Type: Enhancement

#661 Applying suggestion in Searcher
  src/rust/ide/lib/ast/impl/src/prefix.rs
  src/rust/ide/lib/parser/tests/ast.rs
  src/rust/ide/src/controller/searcher.rs
  src/rust/ide/src/double_representation/module.rs
  src/rust/ide/src/model/module.rs
  src/rust/ide/src/model/suggestion_database.rs
  src/rust/ide/src/view/node_editor.rs
  src/rust/lib/data/src/text.rs
Labels: Category: IDE, Change: Non-Breaking, Difficulty: Hard, Priority: High, Type: Enhancement

#617 Create temporary Untitled project and renaming projects
  build/run.js
  src/rust/ensogl/src/display/camera/camera2d.rs
  src/rust/ensogl/src/display/shape/text/glyph/system.rs
  src/rust/ensogl/src/display/shape/text/text_field.rs
  src/rust/ensogl/src/display/shape/text/text_field/frp.rs
  src/rust/ensogl/src/display/shape/text/text_field/frp/mouse.rs
  src/rust/ensogl/src/display/shape/text/text_field/render.rs
  src/rust/ide/lib/enso-protocol/src/project_manager.rs
  src/rust/ide/lib/view/src/debug_scenes/text_field.rs
  src/rust/ide/lib/view/src/debug_scenes/text_typing.rs
  src/rust/ide/lib/view/src/graph_editor.rs
  src/rust/ide/lib/view/src/graph_editor/component.rs
  src/rust/ide/lib/view/src/graph_editor/component/project_name.rs
  src/rust/ide/src/config.rs
  src/rust/ide/src/constants.rs
  src/rust/ide/src/ide.rs
  src/rust/ide/src/model/project.rs
  src/rust/ide/src/tests.rs
  src/rust/ide/src/view/layout.rs
  src/rust/ide/src/view/node_editor.rs
  src/rust/ide/src/view/node_searcher.rs
  src/rust/ide/src/view/text_editor.rs
  src/rust/ide/tests/language_server.rs
  src/rust/ide/tests/project_manager.rs
Labels: Category: IDE, Change: Non-Breaking, Difficulty: Core Contributor, Priority: Highest, Type: Enhancement

#660 Obtaining child AST text span
  src/rust/ide/lib/ast/impl/src/crumbs.rs
  src/rust/ide/lib/ast/impl/src/lib.rs
  src/rust/ide/src/double_representation/module.rs
  src/rust/ide/src/double_representation/text.rs
  src/rust/lib/data/src/text.rs
Labels: Category: IDE, Change: Non-Breaking, Difficulty: Core Contributor, Type: Enhancement

#664 Deserialization of the `executionContext/executionFailed` notification.
  src/rust/ide/lib/enso-protocol/src/language_server/types.rs
  src/rust/ide/src/model/project.rs
Labels: Category: IDE, Change: Non-Breaking, Difficulty: Core Contributor, Type: Enhancement

#677 Parser Bump
  src/rust/ide/lib/ast/impl/src/crumbs.rs
  src/rust/ide/lib/ast/impl/src/lib.rs
  src/rust/ide/lib/ast/impl/src/repr.rs
  src/rust/ide/lib/parser/build.rs
  src/rust/ide/lib/parser/tests/macros.rs
  src/rust/ide/lib/parser/tests/parsing.rs
  src/rust/ide/src/controller/graph.rs
  src/rust/ide/src/double_representation/module.rs
Labels: Category: IDE, Change: Non-Breaking, Difficulty: Hard, Priority: Highest, Type: Bug

#675 Connect Doc Parser and generator to IDE
  src/rust/ide/lib/parser/build.rs
  src/rust/ide/lib/parser/src/jsclient.rs
  src/rust/ide/lib/parser/src/lib.rs
  src/rust/ide/lib/parser/src/main.rs
  src/rust/ide/lib/parser/src/wsclient.rs
  src/rust/ide/lib/parser/tests/doc-gen.rs
Labels: Category: IDE, Change: Non-Breaking, Difficulty: Intermediate, Priority: High, Type: Enhancement

#681 Refactoring IDE models.
  build/run.js
  src/js/package-lock.json
  src/rust/Cargo.lock
  src/rust/ensogl/lib/msdf-sys/build.rs
  src/rust/ide/Cargo.toml
  src/rust/ide/lib/enso-protocol/src/binary/client.rs
  src/rust/ide/lib/enso-protocol/src/binary/connection.rs
  src/rust/ide/lib/enso-protocol/src/lib.rs
  src/rust/ide/src/controller/graph.rs
  src/rust/ide/src/controller/graph/executed.rs
  src/rust/ide/src/controller/module.rs
  src/rust/ide/src/controller/searcher.rs
  src/rust/ide/src/controller/text.rs
  src/rust/ide/src/ide.rs
  src/rust/ide/src/lib.rs
  src/rust/ide/src/model.rs
  src/rust/ide/src/model/execution_context.rs
  src/rust/ide/src/model/execution_context/plain.rs
  src/rust/ide/src/model/execution_context/synchronized.rs
  src/rust/ide/src/model/module.rs
  src/rust/ide/src/model/module/plain.rs
  src/rust/ide/src/model/module/synchronized.rs
  src/rust/ide/src/model/project.rs
  src/rust/ide/src/model/project/synchronized.rs
  src/rust/ide/src/model/registry.rs
  src/rust/ide/src/model/synchronized.rs
  src/rust/ide/src/model/synchronized/execution_context.rs
  src/rust/ide/src/notification.rs
  src/rust/ide/src/view/layout.rs
  src/rust/ide/src/view/node_editor.rs
  src/rust/ide/src/view/node_searcher.rs
  src/rust/ide/src/view/project.rs
  src/rust/ide/tests/language_server.rs
  src/rust/lib/enso-prelude/src/string.rs
Labels: Category: IDE, Change: Non-Breaking, Difficulty: Core Contributor, Priority: Highest, Type: Enhancement

#685 Suggestions fixes
  src/rust/ide/lib/enso-protocol/src/language_server.rs
  src/rust/ide/lib/enso-protocol/src/language_server/types.rs
  src/rust/ide/src/constants.rs
  src/rust/ide/src/controller/searcher.rs
  src/rust/ide/src/double_representation/graph.rs
  src/rust/ide/src/model/project/synchronized.rs
  src/rust/ide/src/model/suggestion_database.rs
Labels: Category: IDE, Change: Breaking, Difficulty: Beginner, Priority: Highest, Type: Bug

#687 Searcher Controller has access to Executed Graph
  build/run.js
  src/rust/ide/src/controller/graph.rs
  src/rust/ide/src/controller/graph/executed.rs
  src/rust/ide/src/controller/searcher.rs
  src/rust/ide/src/executor/test_utils.rs
  src/rust/ide/src/lib.rs
  src/rust/ide/src/model/execution_context/plain.rs
  src/rust/ide/src/model/module.rs
  src/rust/ide/src/model/project.rs
  src/rust/ide/src/test.rs
  src/rust/ide/src/view/node_editor.rs
  src/rust/ide/src/view/node_searcher.rs
  src/rust/lib/data/src/text.rs
Labels: Category: IDE, Change: Breaking, Difficulty: Core Contributor, Priority: Highest, Type: Enhancement

#686 Generate HTML Documentation in Suggestion Entries
  src/rust/ide/lib/parser/src/jsclient.rs
  src/rust/ide/lib/parser/src/lib.rs
  src/rust/ide/lib/parser/src/wsclient.rs
  src/rust/ide/src/model/suggestion_database.rs
Labels: Category: GUI, Change: Non-Breaking, Difficulty: Intermediate, Priority: High, Type: Enhancement

#690 Adding nodes from searcher #2
  build/run.js
  src/rust/ide/lib/enso-protocol/src/language_server/types.rs
  src/rust/ide/src/controller/graph.rs
  src/rust/ide/src/controller/searcher.rs
  src/rust/ide/src/double_representation/module.rs
  src/rust/ide/src/model/module.rs
  src/rust/ide/src/model/module/plain.rs
  src/rust/ide/src/model/suggestion_database.rs
  src/rust/ide/src/view/node_editor.rs
  src/rust/ide/src/view/node_searcher.rs
Labels: Category: IDE, Change: Non-Breaking, Difficulty: Core Contributor, Priority: Highest, Type: Enhancement

#692 AST update
  build/run.js
  src/rust/ide/lib/ast/impl/src/lib.rs
  src/rust/ide/lib/ast/impl/src/repr.rs
  src/rust/ide/lib/parser/tests/parsing.rs
Labels: Category: IDE, Change: Non-Breaking, Difficulty: Core Contributor, Type: Enhancement

#691 Searcher Controller with "this"
  src/rust/ide/lib/ast/impl/src/identifier.rs
  src/rust/ide/lib/enso-protocol/src/language_server/types.rs
  src/rust/ide/lib/span-tree/src/node.rs
  src/rust/ide/lib/utils/src/future.rs
  src/rust/ide/lib/utils/src/lib.rs
  src/rust/ide/lib/view/src/graph_editor.rs
  src/rust/ide/src/controller/graph.rs
  src/rust/ide/src/controller/graph/executed.rs
  src/rust/ide/src/controller/searcher.rs
  src/rust/ide/src/executor/test_utils.rs
  src/rust/ide/src/lib.rs
  src/rust/ide/src/model/execution_context.rs
  src/rust/ide/src/model/execution_context/plain.rs
  src/rust/ide/src/model/execution_context/synchronized.rs
  src/rust/ide/src/model/suggestion_database.rs
  src/rust/ide/src/test.rs
  src/rust/ide/src/view/node_editor.rs
  src/rust/ide/src/view/node_searcher.rs
  src/rust/lib/enso-prelude/src/option.rs
Labels: Category: IDE, Difficulty: Core Contributor, Priority: Highest, Type: Enhancement

#663 Ability to set edge color based on type.
  src/rust/ide/lib/view/src/debug_scenes/shapes.rs
Labels: Category: GUI, Change: Non-Breaking, Difficulty: Core Contributor, Priority: High, Type: Enhancement

#640 Disconnect / reconnect edge source and target by clicking on edges. (Full)
  build/run.js
  src/rust/Cargo.lock
  src/rust/ensogl/src/display/shape/primitive/def/class.rs
  src/rust/ensogl/src/display/shape/primitive/def/var.rs
  src/rust/ensogl/src/display/symbol/gpu/geometry/compound/sprite.rs
  src/rust/ensogl/src/gui/cursor.rs
  src/rust/ide/lib/view/src/debug_scenes/shapes.rs
  src/rust/ide/lib/view/src/graph_editor.rs
  src/rust/ide/lib/view/src/graph_editor/component.rs
  src/rust/ide/lib/view/src/graph_editor/component/edge.rs
  src/rust/ide/lib/view/src/graph_editor/component/node.rs
  src/rust/ide/lib/view/src/graph_editor/component/node/port.rs
  src/rust/ide/lib/view/src/graph_editor/component/node/port/output.rs
  src/rust/ide/lib/view/src/graph_editor/component/type_coloring.rs
  src/rust/ide/src/view/node_editor.rs
  src/rust/lib/generics/Cargo.toml
  src/rust/lib/types/src/algebra.rs
Labels: Category: IDE, Change: Non-Breaking, Difficulty: Core Contributor, Priority: High, Type: Enhancement

#703 Fix Minor Bugs with Output Ports
  src/rust/ide/lib/view/src/graph_editor.rs
  src/rust/ide/lib/view/src/graph_editor/component/node/port/output.rs
Labels: Category: GUI, Change: Non-Breaking, Priority: Highest, Type: Bug
