Repository enso-org/ide, pull requests merged in 2020-08, with the labels that each got.

#705 Recreate Main.enso file if it is missing.
  src/rust/ide/src/view/project.rs
Labels: Category: IDE, Change: Non-Breaking, Difficulty: Core Contributor, Type: Enhancement

#708 Disable caching to fix CI
  .github/workflows/check.yml
Labels: Change: Non-Breaking, Difficulty: Beginner, Priority: High, Type: Bug

#712 Fix zooming and panning in IDE.
  src/rust/ide/src/view/project.rs
Labels: Category: GUI, Difficulty: Intermediate, Priority: Highest, Type: Bug

#715 Replace manual toolchain override with rust-toolchain file.
  docs/CONTRIBUTING.md
  rust-toolchain
Labels: Category: External, Change: Non-Breaking, Difficulty: Intermediate, Priority: Lowest, Type: Enhancement

#706 Argument Completion Suggestions
  .github/workflows/check.yml
  build/run.js
  src/rust/ide/lib/ast/impl/src/opr.rs
  src/rust/ide/lib/enso-protocol/src/language_server/types.rs
  src/rust/ide/lib/json-rpc/src/macros.rs
  src/rust/ide/src/controller/graph/executed.rs
  src/rust/ide/src/controller/searcher.rs
  src/rust/ide/src/double_representation/definition.rs
  src/rust/ide/src/model/suggestion_database.rs
  src/rust/ide/src/test.rs
Labels: Category: GUI, Change: Non-Breaking, Difficulty: Core Contributor, Priority: Highest, Type: Enhancement

#720 Update for Language Server API Changes
  src/rust/ide/lib/enso-protocol/src/language_server/response.rs
  src/rust/ide/lib/enso-protocol/src/language_server/tests.rs
  src/rust/ide/lib/enso-protocol/src/language_server/types.rs
  src/rust/ide/src/controller/graph.rs
  src/rust/ide/src/controller/graph/executed.rs
  src/rust/ide/src/controller/module.rs
  src/rust/ide/src/controller/searcher.rs
  src/rust/ide/src/double_representation.rs
  src/rust/ide/src/double_representation/module.rs
  src/rust/ide/src/lib.rs
  src/rust/ide/src/model/execution_context.rs
  src/rust/ide/src/model/execution_context/plain.rs
  src/rust/ide/src/model/execution_context/synchronized.rs
  src/rust/ide/src/model/module.rs
  src/rust/ide/src/model/project.rs
  src/rust/ide/src/model/project/synchronized.rs
  src/rust/ide/src/model/suggestion_database.rs
  src/rust/ide/src/test.rs
  src/rust/ide/src/view/node_editor.rs
  src/rust/ide/src/view/project.rs
  src/rust/ide/tests/language_server.rs
  src/rust/lib/data/src/text.rs
  src/rust/lib/enso-prelude/src/lib.rs
  src/rust/lib/enso-prelude/src/result.rs
Labels: Category: IDE, Change: Breaking, Difficulty: Core Contributor, Priority: Highest, Type: Bug

#717 Searcher controller: Filtering suggestions
  src/rust/Cargo.lock
  src/rust/Cargo.toml
  src/rust/ide/Cargo.toml
  src/rust/ide/lib/json-rpc/src/macros.rs
  src/rust/ide/src/controller/searcher.rs
  src/rust/ide/src/controller/searcher/suggestion.rs
  src/rust/lib/fuzzly/Cargo.toml
  src/rust/lib/fuzzly/src/lib.rs
  src/rust/lib/fuzzly/src/metric.rs
  src/rust/lib/fuzzly/src/score.rs
  src/rust/lib/fuzzly/src/subsequence_graph.rs
Labels: Category: IDE, Change: Non-Breaking, Difficulty: Core Contributor, Priority: High, Type: Enhancement

#724 Integrate Expression Change with controllers
  src/rust/ensogl/lib/text/src/buffer/view.rs
  src/rust/ide/lib/view/src/graph_editor.rs
  src/rust/ide/src/view/node_editor.rs
Labels: Category: GUI, Category: IDE, Change: Breaking, Difficulty: Hard, Priority: Highest, Type: Enhancement

#727 Double representation support for adding methods to the module.
  src/rust/ide/lib/ast/impl/Cargo.toml
  src/rust/ide/lib/ast/impl/src/crumbs.rs
  src/rust/ide/lib/ast/impl/src/known.rs
  src/rust/ide/lib/ast/impl/src/lib.rs
  src/rust/ide/lib/ast/impl/src/prefix.rs
  src/rust/ide/lib/parser/tests/ast.rs
  src/rust/ide/lib/span-tree/src/action.rs
  src/rust/ide/lib/span-tree/src/generate.rs
  src/rust/ide/src/controller/graph.rs
  src/rust/ide/src/controller/searcher.rs
  src/rust/ide/src/double_representation/alias_analysis.rs
  src/rust/ide/src/double_representation/definition.rs
  src/rust/ide/src/double_representation/module.rs
Labels: Category: IDE, Change: Non-Breaking, Difficulty: Core Contributor, Type: Enhancement

#735 Set codeowners to mwu
  .github/CODEOWNERS
Labels: Category: External, Change: Breaking, Difficulty: Beginner, Priority: Highest, Type: Enhancement

#662 Breadcrumbs Panel
  build/run.js
  docs/product/shortcuts.md
  src/rust/Cargo.lock
  src/rust/ensogl/lib/core/src/display/scene.rs
  src/rust/ensogl/lib/core/src/display/shape/text/text_field.rs
  src/rust/ide/lib/ast/impl/src/lib.rs
  src/rust/ide/lib/enso-protocol/src/language_server/types.rs
  src/rust/ide/lib/utils/src/lib.rs
  src/rust/ide/lib/utils/src/option.rs
  src/rust/ide/lib/view/Cargo.toml
  src/rust/ide/lib/view/src/graph_editor.rs
  src/rust/ide/lib/view/src/graph_editor/component.rs
  src/rust/ide/lib/view/src/graph_editor/component/breadcrumbs.rs
  src/rust/ide/lib/view/src/graph_editor/component/breadcrumbs/breadcrumb.rs
  src/rust/ide/lib/view/src/graph_editor/component/breadcrumbs/project_name.rs
  src/rust/ide/src/controller/graph/executed.rs
  src/rust/ide/src/lib.rs
  src/rust/ide/src/view/node_editor.rs
  src/rust/lib/enso-prelude/src/option.rs
  src/rust/lib/types/src/algebra.rs
Labels: Category: IDE, Change: Non-Breaking, Difficulty: Hard, Priority: High, Type: Enhancement

#729 Select Component
  src/rust/Cargo.lock
  src/rust/Cargo.toml
  src/rust/ensogl/example/Cargo.toml
  src/rust/ensogl/example/src/animation.rs
  src/rust/ensogl/example/src/lib.rs
  src/rust/ensogl/example/src/list_view.rs
  src/rust/ensogl/lib/core/src/display/object.rs
  src/rust/ensogl/lib/core/src/display/object/class.rs
  src/rust/ensogl/lib/core/src/display/scene.rs
  src/rust/ensogl/lib/core/src/display/shape/primitive/system.rs
  src/rust/ensogl/lib/core/src/gui/cursor.rs
  src/rust/ensogl/lib/list-view/Cargo.toml
  src/rust/ensogl/lib/list-view/src/component.rs
  src/rust/ensogl/lib/list-view/src/entry.rs
  src/rust/ensogl/lib/list-view/src/lib.rs
  src/rust/ensogl/lib/text/src/buffer/view.rs
  src/rust/ensogl/lib/text/src/component/area.rs
  src/rust/ide/lib/view/Cargo.toml
  src/rust/ide/lib/view/src/graph_editor/builtin/visualization/native/bubble_chart.rs
  src/rust/ide/lib/view/src/graph_editor/component/breadcrumbs.rs
  src/rust/ide/lib/view/src/graph_editor/component/breadcrumbs/breadcrumb.rs
  src/rust/ide/lib/view/src/graph_editor/component/breadcrumbs/project_name.rs
  src/rust/ide/lib/view/src/graph_editor/component/edge.rs
  src/rust/ide/lib/view/src/graph_editor/component/node.rs
  src/rust/ide/lib/view/src/graph_editor/component/node/port.rs
  src/rust/ide/lib/view/src/graph_editor/component/node/port/output.rs
  src/rust/ide/lib/view/src/graph_editor/component/visualization/container.rs
  src/rust/lib/enso-prelude/src/lib.rs
  src/rust/lib/frp/src/lib.rs
Labels: Category: BaseGL API, Change: Non-Breaking, Difficulty: Intermediate, Priority: High, Type: Enhancement

#764 "Collapse nodes" action in the graph editor
  build/run.js
  docs/product/shortcuts.md
  src/rust/ide/src/controller/graph.rs
  src/rust/ide/src/double_representation/refactorings/collapse.rs
  src/rust/ide/src/view/node_editor.rs
  src/rust/ide/view/graph-editor/src/lib.rs
Labels: Category: IDE, Change: Non-Breaking, Difficulty: Core Contributor, Priority: Highest, Type: Enhancement

#768 Fix nodes overlapping
  src/rust/ide/src/view/node_editor.rs
Labels: Category: IDE, Change: Non-Breaking, Difficulty: Beginner, Priority: Highest, Type: Bug

#772 Fix electron-related bugs
  src/js/lib/client/src/index.js
  src/js/lib/client/src/preload.js
Labels: Category: IDE, Change: Non-Breaking, Difficulty: Intermediate, Priority: Highest, Type: Bug
