Repository enso-org/ide, pull requests merged in 2020-11, with the labels that each got.

#891 PR: Correclty update visualisation after internal change.
  src/rust/ide/view/graph-editor/src/component/visualization/container.rs
  src/rust/ide/view/graph-editor/src/lib.rs
Labels: Category: IDE, Change: Non-Breaking, Difficulty: Hard, Priority: High, Type: Bug

#810 Scatterplot visualization
  docs/product/shortcuts.md
  src/js/lib/content/src/index.html
  src/rust/ide/view/graph-editor/src/builtin/visualization/java_script/scatterPlot.js
Labels: Category: IDE, Change: Non-Breaking, Difficulty: Intermediate, Priority: High, Type: Enhancement

#899 Fix the code block not showing in documentation view.
  src/rust/ide/view/src/documentation/style.css
Labels: Category: GUI, Change: Non-Breaking, Difficulty: Beginner, Priority: Highest, Type: Bug

#912 Fixes visualizations when using Enso's builtin JSON parser
  src/rust/ide/view/graph-editor/src/builtin/visualization/java_script/mapView.js
  src/rust/ide/view/graph-editor/src/builtin/visualization/java_script/scatterPlot.js
  src/rust/ide/view/graph-editor/src/builtin/visualization/java_script/tableView.js
Labels: Category: GUI, Category: IDE, Change: Non-Breaking, Difficulty: Intermediate, Priority: Highest, Type: Bug

#908 Create new nodes at the correct position.
  src/rust/ide/view/graph-editor/src/lib.rs
Labels: Category: GUI, Difficulty: Intermediate, Priority: High, Type: Bug

#910 Display Searcher under selected nodes
  src/rust/ide/src/view/integration.rs
  src/rust/ide/view/graph-editor/src/lib.rs
  src/rust/ide/view/src/project.rs
Labels: Category: GUI, Change: Non-Breaking, Difficulty: Intermediate, Priority: High, Type: Enhancement

#911 Add background to js visualisation.
  src/js/lib/content/src/index.html
  src/rust/ide/view/graph-editor/src/builtin/visualization/native/raw_text.rs
  src/rust/ide/view/graph-editor/src/component/visualization/container.rs
  src/rust/ide/view/graph-editor/src/component/visualization/foreign/java_script/instance.rs
Labels: Category: IDE, Change: Non-Breaking, Difficulty: Intermediate, Priority: Medium, Type: Bug

#907 Correctly propagate project name updates from `Breadcrumbs` to `ProjectName`.
  src/rust/ide/view/graph-editor/src/component/breadcrumbs.rs
  src/rust/ide/view/graph-editor/src/component/breadcrumbs/project_name.rs
Labels: Category: IDE, Change: Non-Breaking, Priority: High, Type: Bug

#904 Documentation Event Handling.
  src/js/package-lock.json
  src/rust/ide/view/graph-editor/src/component/visualization/foreign/java_script/instance.rs
  src/rust/ide/view/graph-editor/src/component/visualization/instance.rs
  src/rust/ide/view/src/documentation.rs
  src/rust/lib/frp/src/io/js.rs
Labels: Category: GUI, Change: Non-Breaking, Difficulty: Intermediate, Priority: High, Type: Bug

#909 Avoid the visualisation container background showing up when loading the scene or collapsing some nodes.
  src/rust/ide/view/graph-editor/src/component/visualization/container.rs
Labels: Category: IDE, Change: Non-Breaking, Difficulty: Core Contributor, Priority: High, Type: Bug

#915 Put here keyword instead of module name
  build/run.js
  src/rust/ide/src/controller/searcher.rs
  src/rust/ide/src/controller/searcher/suggestion.rs
  src/rust/ide/src/model/suggestion_database.rs
  src/rust/ide/src/view/integration.rs
Labels: Category: IDE, Change: Non-Breaking, Difficulty: Hard, Priority: High, Type: Enhancement

#924 Correclty set project name after `rename`.
  src/rust/ide/view/graph-editor/src/component/breadcrumbs/project_name.rs
Labels: Priority: Highest, Type: Bug

#922 Clear detached edges when entering/exiting nodes.
  src/rust/ide/view/graph-editor/src/lib.rs
Labels: Category: GUI, Priority: Medium, Type: Bug

#925 Fix initial state of Project View
  src/rust/ide/view/src/project.rs
Labels: Category: GUI, Change: Non-Breaking, Difficulty: Beginner, Priority: Highest, Type: Bug

#945 Add requirement for verifying test scenarios to PR template.
  .github/PULL_REQUEST_TEMPLATE.md
Labels: Category: External, Change: Non-Breaking, Difficulty: Beginner, Priority: High, Type: Enhancement

#946 Deactivate project name editing on node editing.
  src/rust/ide/view/graph-editor/src/lib.rs
Labels: Category: IDE, Difficulty: Intermediate, Priority: High, Type: Bug

#955 Engine API update
  build/run.js
  docs/CONTRIBUTING.md
  src/rust/ide/lib/enso-protocol/src/language_server/types.rs
  src/rust/ide/src/controller/searcher.rs
  src/rust/ide/src/model/execution_context.rs
  src/rust/ide/src/model/execution_context/plain.rs
  src/rust/ide/src/model/suggestion_database.rs
  src/rust/ide/src/test.rs
Labels: Category: IDE, Change: Non-Breaking, Difficulty: Core Contributor, Priority: Highest, Type: Enhancement

#966 Allow double click on background to leave the current node.
  src/rust/ensogl/lib/core/src/display/scene.rs
  src/rust/ide/view/graph-editor/src/lib.rs
Labels: Category: GUI, Change: Non-Breaking, Difficulty: Beginner, Priority: High, Type: Bug, Type: Enhancement

#971 Apply selected node as "this" in all cases.
  src/rust/ide/src/controller/searcher.rs
  src/rust/ide/src/controller/searcher/suggestion.rs
  src/rust/ide/src/model/suggestion_database.rs
  src/rust/ide/src/view/integration.rs
Labels: Category: IDE, Change: Non-Breaking, Difficulty: Core Contributor, Priority: Highest, Type: Enhancement

#956 Enable editing the project name only on `cmd+lmb` and `double press`.
  build/run.js
  src/rust/ide/view/graph-editor/src/component/breadcrumbs.rs
  src/rust/ide/view/graph-editor/src/component/breadcrumbs/project_name.rs
  src/rust/ide/view/graph-editor/src/lib.rs
Labels: Category: GUI, Change: Breaking, Difficulty: Intermediate, Priority: High, Type: Bug

#979 Fix missing connection in some cases.
  build/run.js
  src/rust/ide/lib/span-tree/src/generate.rs
  src/rust/ide/lib/span-tree/src/node.rs
  src/rust/ide/src/controller/graph.rs
Labels: Category: IDE, Change: Non-Breaking, Difficulty: Core Contributor, Priority: Highest, Type: Bug

#990 Allow multiple maps and re-use deck instances on data updates.
  src/rust/ide/view/graph-editor/src/builtin/visualization/java_script.rs
  src/rust/ide/view/graph-editor/src/builtin/visualization/java_script/geoMap.js
  src/rust/ide/view/graph-editor/src/builtin/visualization/java_script/mapView.js
Labels: Category: IDE, Change: Non-Breaking, Difficulty: Intermediate, Priority: High, Type: Enhancement

#981 Disable scene navigaton when a visualisation is active
  src/rust/ensogl/lib/core/src/display/navigation/navigator.rs
  src/rust/ensogl/lib/core/src/display/navigation/navigator/events.rs
  src/rust/ide/src/view.rs
  src/rust/ide/view/graph-editor/src/component/visualization/container.rs
  src/rust/ide/view/graph-editor/src/lib.rs
Labels: Category: GUI, Change: Non-Breaking, Difficulty: Core Contributor, Priority: High, Type: Enhancement

#811 Histogram visualization
  .github/workflows/check.yml
  .prettierignore
  .prettierrc.toml
  docs/CONTRIBUTING.md
  src/js/package.js
  src/rust/ide/view/graph-editor/src/builtin/visualization/java_script.rs
  src/rust/ide/view/graph-editor/src/builtin/visualization/java_script/bubbleVisualization.js
  src/rust/ide/view/graph-editor/src/builtin/visualization/java_script/geoMap.js
  src/rust/ide/view/graph-editor/src/builtin/visualization/java_script/histogram.js
  src/rust/ide/view/graph-editor/src/builtin/visualization/java_script/loading.js
  src/rust/ide/view/graph-editor/src/builtin/visualization/java_script/mapView.js
  src/rust/ide/view/graph-editor/src/builtin/visualization/java_script/scatterPlot.js
  src/rust/ide/view/graph-editor/src/builtin/visualization/java_script/tableView.js
  src/rust/ide/view/graph-editor/src/component/visualization/foreign/java_script/visualization.js
  src/rust/ide/view/graph-editor/src/component/visualization/registry.rs
Labels: Category: IDE, Change: Non-Breaking, Difficulty: Intermediate, Priority: High, Type: Enhancement

#1002 Fix reordering after connecting nodes.
  src/rust/Cargo.lock
  src/rust/ensogl/example/Cargo.toml
  src/rust/ensogl/lib/components/Cargo.toml
  src/rust/ensogl/lib/core/Cargo.toml
  src/rust/ensogl/lib/text/Cargo.toml
  src/rust/ide/Cargo.toml
  src/rust/ide/lib/ast/impl/Cargo.toml
  src/rust/ide/lib/enso-protocol/Cargo.toml
  src/rust/ide/lib/json-rpc/Cargo.toml
  src/rust/ide/lib/utils/Cargo.toml
  src/rust/ide/lib/utils/src/test.rs
  src/rust/ide/src/controller/graph.rs
  src/rust/ide/src/double_representation/connection.rs
  src/rust/ide/src/lib.rs
  src/rust/ide/view/Cargo.toml
  src/rust/ide/view/graph-editor/Cargo.toml
Labels: Category: IDE, Change: Non-Breaking, Difficulty: Core Contributor, Priority: High, Type: Bug

#1009 Bump electron version
  src/js/lib/client/package.js
  src/js/package-lock.json
Labels: Category: External, Change: Non-Breaking, Difficulty: Beginner, Priority: High, Type: Bug

#1005 This Simple Trick Will Enable Coloring of Your Ports!
  src/rust/ide/src/view/integration.rs
  src/rust/ide/view/graph-editor/src/lib.rs
  src/rust/ide/view/src/debug_scenes/interface.rs
Labels: Category: IDE, Change: Breaking, Difficulty: Hard, Priority: Highest, Type: Bug
