Repository enso-org/ide, pull requests merged in 2020-09, with the labels that each got.

#782 Enable EnsoGL examples in IDE
  build/run.js
  src/rust/Cargo.lock
  src/rust/ide/Cargo.toml
  src/rust/ide/src/lib.rs
Labels: Category: IDE, Change: Non-Breaking, Difficulty: Beginner, Priority: Highest, Type: Bug

#783 Reenable `.strict()` for yargs parser after macOS Big Sur fix.
  src/js/lib/client/src/index.js
Labels: Category: IDE, Change: Non-Breaking, Difficulty: Beginner, Priority: High, Type: Enhancement

#794 Update CONTRIBUTING.md
  docs/CONTRIBUTING.md
Labels: Category: Documentation, Change: Non-Breaking, Difficulty: Beginner, Priority: Highest, Type: Enhancement

#791 Searcher Edit View
  build/run.js
  docs/product/searcher.md
  docs/product/shortcuts.md
  src/js/package-lock.json
  src/rust/Cargo.lock
  src/rust/ensogl/example/src/list_view.rs
  src/rust/ensogl/lib/list-view/src/component.rs
  src/rust/ensogl/lib/list-view/src/entry.rs
  src/rust/ensogl/lib/text/src/buffer/data/text.rs
  src/rust/ensogl/lib/text/src/component/area.rs
  src/rust/ide/Cargo.toml
  src/rust/ide/src/controller/searcher.rs
  src/rust/ide/src/controller/searcher/suggestion.rs
  src/rust/ide/src/double_representation/alias_analysis.rs
  src/rust/ide/src/double_representation/refactorings/collapse.rs
  src/rust/ide/src/view.rs
  src/rust/ide/src/view/layout.rs
  src/rust/ide/src/view/node_editor.rs
  src/rust/ide/src/view/node_searcher.rs
  src/rust/ide/src/view/project.rs
  src/rust/ide/view/Cargo.toml
  src/rust/ide/view/graph-editor/Cargo.toml
  src/rust/ide/view/graph-editor/src/component/node.rs
  src/rust/ide/view/graph-editor/src/component/node/port.rs
  src/rust/ide/view/graph-editor/src/lib.rs
  src/rust/ide/view/src/lib.rs
  src/rust/ide/view/src/project.rs
  src/rust/ide/view/src/searcher.rs
Labels: Category: GUI, Change: Non-Breaking, Difficulty: Intermediate, Priority: Highest, Type: Enhancement

#731 Enso Studio light theme
  docs/product/shortcuts.md
  src/js/lib/content/src/index.js
  src/rust/Cargo.lock
  src/rust/Cargo.toml
  src/rust/ensogl/example/Cargo.toml
  src/rust/ensogl/example/src/list_view.rs
  src/rust/ensogl/lib/core/Cargo.toml
  src/rust/ensogl/lib/core/src/display/scene.rs
  src/rust/ensogl/lib/core/src/display/shape/primitive/system.rs
  src/rust/ensogl/lib/core/src/display/shape/text/text_field/render.rs
  src/rust/ensogl/lib/core/src/gui/cursor.rs
  src/rust/ensogl/lib/list-view/Cargo.toml
  src/rust/ensogl/lib/list-view/src/component.rs
  src/rust/ensogl/lib/list-view/src/entry.rs
  src/rust/ensogl/lib/text/Cargo.toml
  src/rust/ensogl/lib/text/src/component/area.rs
  src/rust/ensogl/lib/theme/Cargo.toml
  src/rust/ensogl/lib/theme/src/lib.rs
  src/rust/ide/Cargo.toml
  src/rust/ide/src/view/project.rs
  src/rust/ide/src/view/text_editor.rs
  src/rust/ide/view/Cargo.toml
  src/rust/ide/view/graph-editor/Cargo.toml
  src/rust/ide/view/graph-editor/src/builtin/visualization/native/raw_text.rs
  src/rust/ide/view/graph-editor/src/component/breadcrumbs/breadcrumb.rs
  src/rust/ide/view/graph-editor/src/component/breadcrumbs/project_name.rs
  src/rust/ide/view/graph-editor/src/component/edge.rs
  src/rust/ide/view/graph-editor/src/component/node.rs
  src/rust/ide/view/graph-editor/src/component/node/port.rs
  src/rust/ide/view/graph-editor/src/component/node/port/output.rs
  src/rust/ide/view/graph-editor/src/component/type_coloring.rs
  src/rust/ide/view/graph-editor/src/component/visualization/container.rs
  src/rust/ide/view/graph-editor/src/lib.rs
  src/rust/ide/view/src/debug_scenes/interface.rs
  src/rust/ide/view/src/documentation.rs
  src/rust/ide/view/src/documentation/style.css
  src/rust/ide/view/src/project.rs
Labels: Category: IDE, Change: Non-Breaking, Difficulty: Intermediate, Priority: High, Type: Enhancement

#798 Fix white text on light background in searcher
  src/rust/ensogl/lib/theme/src/lib.rs
Labels: Category: GUI, Change: Non-Breaking, Difficulty: Beginner, Priority: Highest, Type: Bug

#776 Visualization pointer events
  build/run.js
  src/js/lib/content/src/index.html
  src/rust/ensogl/example/src/dom_symbols.rs
  src/rust/ensogl/lib/core/src/control/io/keyboard/listener.rs
  src/rust/ensogl/lib/core/src/control/io/mouse.rs
  src/rust/ensogl/lib/core/src/display/scene.rs
  src/rust/ensogl/lib/core/src/display/world.rs
  src/rust/ensogl/lib/core/src/system/gpu/data/texture/storage/remote_image.rs
  src/rust/ide/view/graph-editor/src/builtin/visualization/java_script.rs
  src/rust/ide/view/graph-editor/src/builtin/visualization/java_script/bubble_visualization.js
  src/rust/ide/view/graph-editor/src/builtin/visualization/java_script/scatterplot.js
  src/rust/ide/view/graph-editor/src/builtin/visualization/native/raw_text.rs
  src/rust/ide/view/graph-editor/src/component/visualization/container.rs
  src/rust/ide/view/graph-editor/src/component/visualization/foreign/java_script/instance.rs
  src/rust/ide/view/graph-editor/src/component/visualization/registry.rs
  src/rust/ide/view/graph-editor/src/lib.rs
  src/rust/ide/view/src/documentation.rs
  src/rust/lib/frp/src/io/keyboard2.rs
  src/rust/lib/system/web/src/lib.rs
Labels: Category: BaseGL Renderer, Category: GUI, Category: IDE, Change: Non-Breaking, Difficulty: Core Contributor, Priority: Highest

#778 Enso Table Visualisation
  src/rust/ide/view/graph-editor/src/builtin/visualization/java_script.rs
  src/rust/ide/view/graph-editor/src/builtin/visualization/java_script/bubbleVisualization.js
  src/rust/ide/view/graph-editor/src/builtin/visualization/java_script/scatterPlot.js
  src/rust/ide/view/graph-editor/src/builtin/visualization/java_script/tableView.js
  src/rust/ide/view/graph-editor/src/component/visualization/registry.rs
Labels: Category: IDE, Change: Non-Breaking, Difficulty: Intermediate, Priority: High, Type: Enhancement

#779 Map visualization
  src/js/lib/content/src/index.html
  src/rust/ide/view/graph-editor/src/builtin/visualization/java_script.rs
  src/rust/ide/view/graph-editor/src/builtin/visualization/java_script/mapView.js
  src/rust/ide/view/graph-editor/src/component/visualization/registry.rs
Labels: Category: IDE, Change: Non-Breaking, Difficulty: Intermediate, Priority: High, Type: Enhancement

#799 Documentation Panel in Searcher
  build/run.js
  src/rust/ensogl/lib/list-view/src/component.rs
  src/rust/ensogl/lib/list-view/src/entry.rs
  src/rust/ensogl/lib/text/src/buffer/view.rs
  src/rust/ensogl/lib/theme/src/lib.rs
  src/rust/ide/src/controller/searcher.rs
  src/rust/ide/src/model/suggestion_database.rs
  src/rust/ide/src/view/node_editor.rs
  src/rust/ide/view/graph-editor/src/component/node.rs
  src/rust/ide/view/graph-editor/src/component/visualization/container.rs
  src/rust/ide/view/graph-editor/src/component/visualization/data.rs
  src/rust/ide/view/src/documentation.rs
  src/rust/ide/view/src/documentation/style.css
  src/rust/ide/view/src/lib.rs
  src/rust/ide/view/src/project.rs
  src/rust/ide/view/src/searcher.rs
Labels: Category: IDE, Change: Non-Breaking, Difficulty: Intermediate, Priority: High, Type: Enhancement

#803 Wip/ao/vis ptr events
  src/rust/ensogl/lib/core/src/display/navigation/navigator.rs
  src/rust/ensogl/lib/core/src/display/navigation/navigator/events.rs
  src/rust/ensogl/lib/core/src/display/scene.rs
  src/rust/ensogl/lib/core/src/display/shape.rs
  src/rust/ensogl/lib/core/src/display/shape/primitive/system.rs
  src/rust/ensogl/lib/core/src/display/symbol/gpu/geometry/compound/sprite.rs
  src/rust/ide/view/graph-editor/src/component/visualization/container.rs
  src/rust/ide/view/graph-editor/src/component/visualization/foreign/java_script/instance.rs
  src/rust/ide/view/graph-editor/src/component/visualization/instance.rs
  src/rust/ide/view/graph-editor/src/lib.rs
Labels: Category: IDE, Change: Non-Breaking, Difficulty: Hard, Priority: High, Type: Enhancement

#710 Add menu to select visualisation for given type + test switching visualizations
  build/run.js
  src/rust/Cargo.lock
  src/rust/ensogl/lib/drop-down-menu/Cargo.toml
  src/rust/ensogl/lib/drop-down-menu/src/component.rs
  src/rust/ensogl/lib/drop-down-menu/src/lib.rs
  src/rust/ensogl/lib/list-view/src/entry.rs
  src/rust/ensogl/lib/theme/src/lib.rs
  src/rust/ide/view/graph-editor/Cargo.toml
  src/rust/ide/view/graph-editor/src/builtin/visualization/java_script/scatterPlot.js
  src/rust/ide/view/graph-editor/src/builtin/visualization/native/bubble_chart.rs
  src/rust/ide/view/graph-editor/src/builtin/visualization/native/raw_text.rs
  src/rust/ide/view/graph-editor/src/component/node.rs
  src/rust/ide/view/graph-editor/src/component/visualization/container.rs
  src/rust/ide/view/graph-editor/src/component/visualization/container/action_bar.rs
  src/rust/ide/view/graph-editor/src/component/visualization/container/visualization_chooser.rs
  src/rust/ide/view/graph-editor/src/component/visualization/path.rs
  src/rust/ide/view/graph-editor/src/component/visualization/registry.rs
  src/rust/ide/view/graph-editor/src/lib.rs
Labels: Category: GUI, Change: Non-Breaking, Difficulty: Core Contributor, Priority: High, Type: Enhancement

#814 Handling missing main method on startup and `here.main` syntax
  src/rust/ide/src/controller/graph.rs
  src/rust/ide/src/double_representation/definition.rs
  src/rust/ide/src/double_representation/identifier.rs
  src/rust/ide/src/double_representation/module.rs
  src/rust/ide/src/model/module.rs
  src/rust/ide/src/test.rs
  src/rust/ide/src/view/project.rs
Labels: Category: IDE, Change: Non-Breaking, Difficulty: Core Contributor, Priority: High, Type: Enhancement
