Repository enso-org/ide, pull requests merged in 2020-05, with the labels that each got.

#394 Add endpoints to GraphEditor
  src/rust/Cargo.lock
  src/rust/lib/graph-editor/Cargo.toml
  src/rust/lib/graph-editor/src/lib.rs
Labels: Category: BaseGL API, Change: Non-Breaking, Difficulty: Hard, Priority: High, Type: Enhancement, Type: Research Needed

#366 Project manager client
  docs/enso-protocol.md
  src/rust/Cargo.lock
  src/rust/Cargo.toml
  src/rust/ide/Cargo.toml
  src/rust/ide/enso-protocol/Cargo.toml
  src/rust/ide/enso-protocol/src/file_manager.rs
  src/rust/ide/enso-protocol/src/lib.rs
  src/rust/ide/enso-protocol/src/project_manager.rs
  src/rust/ide/enso-protocol/src/types.rs
  src/rust/ide/json-rpc/src/lib.rs
  src/rust/ide/json-rpc/src/macros.rs
  src/rust/ide/tests/project_manager.rs
Labels: Category: IDE, Change: Breaking, Difficulty: Core Contributor, Priority: Highest, Type: Enhancement

#391 File Manager Client
  docs/enso-protocol.md
  src/rust/ide/enso-protocol/src/language_server.rs
  src/rust/ide/enso-protocol/src/lib.rs
  src/rust/ide/enso-protocol/src/project_manager.rs
  src/rust/ide/enso-protocol/src/types.rs
  src/rust/ide/tests/language_server.rs
Labels: Category: IDE, Change: Breaking, Difficulty: Core Contributor, Priority: Highest, Type: Enhancement

#403 Reorder nodes when connecting
  src/rust/ide/src/controller/graph.rs
  src/rust/ide/src/double_representation/graph.rs
  src/rust/ide/src/double_representation/node.rs
Labels: Category: IDE, Change: Non-Breaking, Difficulty: Core Contributor, Priority: Highest, Type: Enhancement

#409 Intregration of Project Manager and File Manager to IDE
  README.md
  docs/contributing.md
  docs/enso-protocol.md
  src/rust/Cargo.lock
  src/rust/Cargo.toml
  src/rust/ensogl/src/display/style/sheet.rs
  src/rust/ide/Cargo.toml
  src/rust/ide/enso-protocol/Cargo.toml
  src/rust/ide/enso-protocol/src/file_manager.rs
  src/rust/ide/enso-protocol/src/language_server.rs
  src/rust/ide/enso-protocol/src/language_server/connection.rs
  src/rust/ide/enso-protocol/src/lib.rs
  src/rust/ide/enso-protocol/src/project_manager.rs
  src/rust/ide/file-manager/Cargo.toml
  src/rust/ide/file-manager/README.md
  src/rust/ide/file-manager/mock-server/.gitignore
  src/rust/ide/file-manager/mock-server/Cargo.toml
  src/rust/ide/file-manager/mock-server/README.md
  src/rust/ide/file-manager/mock-server/src/main.rs
  src/rust/ide/file-manager/src/lib.rs
  src/rust/ide/src/controller/graph.rs
  src/rust/ide/src/controller/module.rs
  src/rust/ide/src/controller/project.rs
  src/rust/ide/src/controller/text.rs
  src/rust/ide/src/lib.rs
  src/rust/ide/src/model/module/registry.rs
  src/rust/ide/src/view/project.rs
  src/rust/ide/src/view/text_editor.rs
  src/rust/lib/logger/src/lib.rs
Labels: Category: IDE, Change: Breaking, Difficulty: Core Contributor, Priority: Highest, Type: Enhancement

#390 Displaying visualizations on nodes
  src/rust/Cargo.lock
  src/rust/ensogl/src/display/object/class.rs
  src/rust/ensogl/src/display/symbol/dom.rs
  src/rust/lib/debug-scenes/Cargo.toml
  src/rust/lib/debug-scenes/src/shapes.rs
  src/rust/lib/graph-editor/Cargo.toml
  src/rust/lib/graph-editor/src/component.rs
  src/rust/lib/graph-editor/src/component/node.rs
  src/rust/lib/graph-editor/src/component/visualization.rs
  src/rust/lib/graph-editor/src/lib.rs
Labels: Category: IDE, Change: Non-Breaking, Difficulty: Core Contributor, Priority: High, Type: Enhancement

#421 Fix CI package size checking
  .github/workflows/build.yml
  .github/workflows/check.yml
  build/run.js
Labels: Category: External, Change: Breaking, Difficulty: Beginner, Priority: Highest, Type: Bug

#411 Text file operations and execution management
  src/rust/Cargo.lock
  src/rust/ide/enso-protocol/Cargo.toml
  src/rust/ide/enso-protocol/src/language_server.rs
  src/rust/ide/enso-protocol/src/language_server/response.rs
  src/rust/ide/enso-protocol/src/language_server/tests.rs
  src/rust/ide/enso-protocol/src/language_server/types.rs
  src/rust/ide/enso-protocol/src/types.rs
  src/rust/ide/json-rpc/src/macros.rs
  src/rust/ide/tests/language_server.rs
Labels: Category: IDE, Change: Non-Breaking, Difficulty: Core Contributor, Priority: High, Type: Enhancement

#420 Properly Handle JSON-RPC Errors
  src/rust/ide/json-rpc/src/handler.rs
  src/rust/ide/json-rpc/src/messages.rs
  src/rust/ide/src/lib.rs
  src/rust/ide/src/transport/test_utils.rs
Labels: Category: IDE, Change: Non-Breaking, Difficulty: Core Contributor, Priority: High, Type: Enhancement

#422 Fix bug in BitField
  src/rust/lib/frp/src/data/bitfield.rs
Labels: Category: BaseGL API, Change: Non-Breaking, Difficulty: Beginner, Priority: High, Type: Bug

#419 Wip/ao/execution context
  src/rust/ide/enso-protocol/src/language_server.rs
  src/rust/ide/enso-protocol/src/language_server/response.rs
  src/rust/ide/enso-protocol/src/language_server/tests.rs
  src/rust/ide/enso-protocol/src/language_server/types.rs
  src/rust/ide/json-rpc/src/macros.rs
  src/rust/ide/src/controller.rs
  src/rust/ide/src/controller/graph.rs
  src/rust/ide/src/controller/graph/executed.rs
  src/rust/ide/src/controller/module.rs
  src/rust/ide/src/controller/project.rs
  src/rust/ide/src/controller/text.rs
  src/rust/ide/src/double_representation/graph.rs
  src/rust/ide/src/model.rs
  src/rust/ide/src/model/execution_context.rs
  src/rust/ide/src/model/module/registry.rs
  src/rust/ide/src/model/synchronized.rs
  src/rust/ide/src/model/synchronized/execution_context.rs
  src/rust/ide/src/view/layout.rs
  src/rust/ide/src/view/node_editor.rs
  src/rust/ide/src/view/project.rs
  src/rust/ide/tests/language_server.rs
Labels: Category: IDE, Change: Breaking, Difficulty: Core Contributor, Priority: Highest, Type: Enhancement

#424 Binary Message Support In Transport
  src/rust/ide/Cargo.toml
  src/rust/ide/enso-protocol/src/language_server/tests.rs
  src/rust/ide/enso-protocol/src/project_manager.rs
  src/rust/ide/json-rpc/src/error.rs
  src/rust/ide/json-rpc/src/handler.rs
  src/rust/ide/json-rpc/src/test_util/transport/mock.rs
  src/rust/ide/json-rpc/src/transport.rs
  src/rust/ide/json-rpc/tests/test.rs
  src/rust/ide/src/transport/test_utils.rs
  src/rust/ide/src/transport/web.rs
Labels: Category: IDE, Change: Non-Breaking, Difficulty: Core Contributor, Priority: Highest, Type: Enhancement

#410 Generate rust code from FlatBuffers specification.
  docs/contributing.md
  src/rust/Cargo.lock
  src/rust/Cargo.toml
  src/rust/ide/engine-api/Cargo.toml
  src/rust/ide/engine-api/build.rs
  src/rust/ide/engine-api/src/generated.rs
  src/rust/ide/engine-api/src/generated/binary_protocol_generated.rs
  src/rust/ide/engine-api/src/lib.rs
Labels: Category: IDE, Change: Non-Breaking, Difficulty: Core Contributor, Priority: Highest, Type: Enhancement

#431 Zero-copy JSON-RPC methods
  src/rust/ide/enso-protocol/src/language_server/connection.rs
  src/rust/ide/enso-protocol/src/language_server/tests.rs
  src/rust/ide/enso-protocol/src/project_manager.rs
  src/rust/ide/json-rpc/src/handler.rs
  src/rust/ide/json-rpc/src/macros.rs
  src/rust/ide/src/controller/module.rs
  src/rust/ide/src/controller/text.rs
  src/rust/ide/src/lib.rs
  src/rust/ide/src/model/synchronized/execution_context.rs
  src/rust/ide/tests/language_server.rs
  src/rust/ide/tests/project_manager.rs
Labels: Category: IDE, Category: Performance, Change: Breaking, Difficulty: Core Contributor, Priority: Medium, Type: Enhancement

#432 Update Engine API
  src/rust/ide/enso-protocol/src/project_manager.rs
  src/rust/ide/src/lib.rs
Labels: Category: IDE, Change: Breaking, Difficulty: Core Contributor, Priority: Highest, Type: Enhancement

#425 Assign IDs to all nodes but few.
  src/rust/ide/ast/impl/src/crumbs.rs
  src/rust/ide/ast/impl/src/known.rs
  src/rust/ide/ast/impl/src/lib.rs
  src/rust/ide/parser/build.rs
  src/rust/ide/parser/src/api.rs
  src/rust/ide/parser/tests/parsing.rs
  src/rust/ide/parser/tests/web.rs
  src/rust/ide/src/controller/module.rs
Labels: Category: IDE, Change: Non-Breaking, Difficulty: Beginner, Priority: Highest

#429 Visualization Registry
  src/rust/lib/graph-editor/src/component/visualization.rs
  src/rust/lib/graph-editor/src/component/visualization/class.rs
  src/rust/lib/graph-editor/src/component/visualization/container.rs
  src/rust/lib/graph-editor/src/component/visualization/data.rs
  src/rust/lib/graph-editor/src/component/visualization/js.rs
  src/rust/lib/graph-editor/src/component/visualization/registry.rs
  src/rust/lib/graph-editor/src/component/visualization/renderer/class.rs
  src/rust/lib/graph-editor/src/component/visualization/renderer/example.rs
  src/rust/lib/graph-editor/src/component/visualization/renderer/example/js.rs
  src/rust/lib/graph-editor/src/component/visualization/renderer/example/native.rs
  src/rust/lib/graph-editor/src/component/visualization/renderer/js.rs
  src/rust/lib/graph-editor/src/lib.rs
Labels: Category: IDE, Change: Non-Breaking, Difficulty: Core Contributor, Priority: High, Type: Enhancement

#428 Connections integration
  build/run.js
  src/rust/Cargo.lock
  src/rust/ide/Cargo.toml
  src/rust/ide/span-tree/src/lib.rs
  src/rust/ide/src/controller/graph.rs
  src/rust/ide/src/view/node_editor.rs
  src/rust/ide/src/view/node_searcher.rs
  src/rust/ide/src/view/project.rs
  src/rust/ide/src/view/text_editor.rs
  src/rust/lib/frp/src/lib.rs
  src/rust/lib/frp/src/nodes.rs
  src/rust/lib/graph-editor/src/lib.rs
Labels: Category: BaseGL API, Category: IDE, Change: Breaking, Difficulty: Core Contributor, Priority: Highest, Type: Enhancement

#438 Language Server Binary Protocol Client
  src/rust/Cargo.lock
  src/rust/Cargo.toml
  src/rust/ide/engine-api/Cargo.toml
  src/rust/ide/engine-api/src/lib.rs
  src/rust/ide/enso-protocol/Cargo.toml
  src/rust/ide/enso-protocol/build.rs
  src/rust/ide/enso-protocol/src/binary.rs
  src/rust/ide/enso-protocol/src/binary/client.rs
  src/rust/ide/enso-protocol/src/binary/connection.rs
  src/rust/ide/enso-protocol/src/binary/message.rs
  src/rust/ide/enso-protocol/src/binary/serialization.rs
  src/rust/ide/enso-protocol/src/binary/uuid.rs
  src/rust/ide/enso-protocol/src/common.rs
  src/rust/ide/enso-protocol/src/common/error.rs
  src/rust/ide/enso-protocol/src/common/event.rs
  src/rust/ide/enso-protocol/src/common/ongoing_calls.rs
  src/rust/ide/enso-protocol/src/generated.rs
  src/rust/ide/enso-protocol/src/generated/binary_protocol_generated.rs
  src/rust/ide/enso-protocol/src/handler.rs
  src/rust/ide/enso-protocol/src/language_server/connection.rs
  src/rust/ide/enso-protocol/src/language_server/tests.rs
  src/rust/ide/enso-protocol/src/lib.rs
  src/rust/ide/enso-protocol/src/project_manager.rs
  src/rust/ide/json-rpc/src/error.rs
  src/rust/ide/json-rpc/src/transport.rs
  src/rust/ide/json-rpc/tests/test.rs
  src/rust/ide/src/controller/graph.rs
  src/rust/ide/src/controller/module.rs
  src/rust/ide/src/controller/project.rs
  src/rust/ide/src/lib.rs
  src/rust/ide/src/model/synchronized/execution_context.rs
  src/rust/ide/src/transport/web.rs
  src/rust/ide/tests/language_server.rs
  src/rust/ide/tests/project_manager.rs
  src/rust/ide/utils/src/lib.rs
  src/rust/ide/utils/src/test.rs
  src/rust/lib/debug-scenes/src/shapes.rs
  src/rust/lib/logger/src/lib.rs
Labels: Category: IDE, Change: Non-Breaking, Difficulty: Core Contributor, Priority: Highest, Type: Enhancement

#437 Calling Text API of Language Server on each module change
  src/rust/Cargo.lock
  src/rust/ensogl/src/display/shape/text/text_field.rs
  src/rust/ide/enso-protocol/Cargo.toml
  src/rust/ide/enso-protocol/src/language_server.rs
  src/rust/ide/enso-protocol/src/language_server/tests.rs
  src/rust/ide/enso-protocol/src/language_server/types.rs
  src/rust/ide/enso-protocol/src/project_manager.rs
  src/rust/ide/json-rpc/src/macros.rs
  src/rust/ide/parser/src/api.rs
  src/rust/ide/parser/src/jsclient.rs
  src/rust/ide/parser/src/lib.rs
  src/rust/ide/parser/src/wsclient.rs
  src/rust/ide/parser/tests/parsing.rs
  src/rust/ide/parser/tests/web.rs
  src/rust/ide/src/controller/graph.rs
  src/rust/ide/src/controller/module.rs
  src/rust/ide/src/controller/project.rs
  src/rust/ide/src/controller/text.rs
  src/rust/ide/src/lib.rs
  src/rust/ide/src/model.rs
  src/rust/ide/src/model/module.rs
  src/rust/ide/src/model/registry.rs
  src/rust/ide/src/model/synchronized.rs
  src/rust/ide/src/model/synchronized/execution_context.rs
  src/rust/ide/src/model/synchronized/module.rs
  src/rust/ide/src/notification.rs
  src/rust/ide/src/view/node_editor.rs
  src/rust/ide/src/view/text_editor.rs
  src/rust/ide/tests/language_server.rs
  src/rust/lib/data/src/lib.rs
  src/rust/lib/data/src/text.rs
  src/rust/lib/prelude/src/std_reexports.rs
Labels: Category: IDE, Change: Breaking, Difficulty: Core Contributor, Priority: High, Type: Enhancement

#454 Removed logs that I've accidentally enabled
  src/rust/lib/logger/src/lib.rs
Labels: Category: Performance, Change: Non-Breaking, Difficulty: Core Contributor, Priority: Highest, Type: Enhancement

#441 Attach and detach visualisations to nodes.
  src/rust/ide/enso-protocol/src/language_server/tests.rs
  src/rust/ide/enso-protocol/src/language_server/types.rs
  src/rust/ide/enso-protocol/src/project_manager.rs
  src/rust/ide/json-rpc/tests/test.rs
  src/rust/ide/src/model/execution_context.rs
  src/rust/ide/src/model/synchronized/execution_context.rs
  src/rust/lib/frp/src/io/keyboard.rs
Labels: Category: IDE, Change: Non-Breaking, Difficulty: Hard, Priority: Highest, Type: Enhancement

#456 Refactored utilities for testing Futures and Streams
  src/rust/ide/enso-protocol/src/binary/client.rs
  src/rust/ide/enso-protocol/src/language_server/tests.rs
  src/rust/ide/enso-protocol/src/lib.rs
  src/rust/ide/enso-protocol/src/project_manager.rs
  src/rust/ide/json-rpc/src/lib.rs
  src/rust/ide/json-rpc/tests/test.rs
  src/rust/ide/utils/src/test.rs
  src/rust/ide/utils/src/test/future.rs
  src/rust/ide/utils/src/test/stream.rs
Labels: Category: External, Change: Non-Breaking, Difficulty: Core Contributor, Priority: High, Type: Enhancement

#457 Fix repr of block for empty lines.
  src/rust/ide/ast/impl/src/lib.rs
  src/rust/ide/ast/impl/src/repr.rs
  src/rust/ide/parser/tests/parsing.rs
Labels: Category: IDE, Change: Non-Breaking, Difficulty: Beginner, Priority: Highest

#460 Attaching visualization creates a channel for passing the updata data.
  src/rust/ide/src/model/execution_context.rs
  src/rust/ide/src/model/synchronized/execution_context.rs
Labels: Category: IDE, Change: Non-Breaking, Difficulty: Core Contributor, Priority: High, Type: Enhancement

#416 Add profiling checkbox to PR Checklist.
  .github/PULL_REQUEST_TEMPLATE.md
Labels: Category: Documentation, Category: Performance, Change: Non-Breaking, Difficulty: Beginner

#433 Visualization Registry integration
  docs/contributing.md
  src/js/package-lock.json
  src/rust/ide/enso-protocol/src/language_server/types.rs
  src/rust/ide/src/config.rs
  src/rust/ide/src/controller.rs
  src/rust/ide/src/controller/project.rs
  src/rust/ide/src/controller/visualization.rs
  src/rust/ide/src/lib.rs
  src/rust/ide/src/view/layout.rs
  src/rust/ide/src/view/node_editor.rs
  src/rust/ide/src/view/project.rs
  src/rust/ide/tests/language_server.rs
  src/rust/lib/debug-scenes/src/lib.rs
  src/rust/lib/debug-scenes/src/shapes.rs
  src/rust/lib/debug-scenes/src/visualization.rs
  src/rust/lib/graph-editor/src/component/visualization/class.rs
  src/rust/lib/graph-editor/src/lib.rs
Labels: Category: IDE, Change: Breaking, Difficulty: Core Contributor, Priority: High, Type: Enhancement, Type: Research Needed

#498 Change IDE owner to mwu-two
  .github/CODEOWNERS
Labels: Category: External, Change: Breaking, Difficulty: Beginner, Priority: Highest

#497 Hotfix for TextField resizing
  src/rust/ensogl/src/display/shape/text/text_field.rs
  src/rust/ensogl/src/display/shape/text/text_field/render.rs
  src/rust/ensogl/src/display/shape/text/text_field/render/assignment.rs
  src/rust/ide/src/view/text_editor.rs
Labels: Category: BaseGL API, Change: Non-Breaking, Difficulty: Intermediate, Priority: Highest, Type: Bug

#450 Add timeout to rpc handler.
  src/rust/Cargo.lock
  src/rust/ide/json-rpc/Cargo.toml
  src/rust/ide/json-rpc/src/error.rs
  src/rust/ide/json-rpc/src/handler.rs
  src/rust/ide/json-rpc/src/lib.rs
  src/rust/ide/json-rpc/src/macros.rs
  src/rust/ide/json-rpc/tests/test.rs
  src/rust/lib/system/web/Cargo.toml
  src/rust/lib/system/web/src/lib.rs
Labels: Category: Performance, Change: Non-Breaking, Difficulty: Hard, Priority: High, Type: Enhancement

#493 Passing visualization updates to the visualizations
  src/rust/ide/enso-protocol/src/binary.rs
  src/rust/ide/enso-protocol/src/binary/connection.rs
  src/rust/ide/enso-protocol/src/binary/message.rs
  src/rust/ide/enso-protocol/src/language_server/connection.rs
  src/rust/ide/span-tree/src/node.rs
  src/rust/ide/src/controller/graph.rs
  src/rust/ide/src/controller/graph/executed.rs
  src/rust/ide/src/controller/module.rs
  src/rust/ide/src/controller/project.rs
  src/rust/ide/src/controller/text.rs
  src/rust/ide/src/executor.rs
  src/rust/ide/src/executor/test_utils.rs
  src/rust/ide/src/lib.rs
  src/rust/ide/src/model/execution_context.rs
  src/rust/ide/src/model/module.rs
  src/rust/ide/src/model/registry.rs
  src/rust/ide/src/model/synchronized/execution_context.rs
  src/rust/ide/src/model/synchronized/module.rs
  src/rust/ide/src/view/project.rs
  src/rust/ide/tests/language_server.rs
Labels: Category: IDE, Change: Non-Breaking, Difficulty: Core Contributor, Priority: Highest, Type: Enhancement
