Repository enso-org/ide, pull requests merged in 2020-02, with the labels that each got.

#121 Glyph system
  lib/core/src/display.rs
  lib/core/src/display/camera/camera2d.rs
  lib/core/src/display/layout.rs
  lib/core/src/display/layout/alignment.rs
  lib/core/src/display/scene.rs
  lib/core/src/display/shape.rs
  lib/core/src/display/shape/glyph.rs
  lib/core/src/display/shape/glyph/font.rs
  lib/core/src/display/shape/glyph/glyph.glsl
  lib/core/src/display/shape/glyph/msdf.rs
  lib/core/src/display/shape/glyph/pen.rs
  lib/core/src/display/shape/glyph/system.rs
  lib/core/src/display/shape/text.rs
  lib/core/src/display/shape/text/buffer.rs
  lib/core/src/display/shape/text/buffer/glyph_square.rs
  lib/core/src/display/shape/text/program.rs
  lib/core/src/display/symbol/geometry/compound/sprite.rs
  lib/core/src/display/world.rs
  lib/core/src/examples.rs
  lib/core/src/examples/glyph_system.rs
  lib/core/src/examples/sprite_system.rs
  lib/core/src/system/gpu/data/texture/class.rs
  lib/core/src/system/gpu/data/texture/storage/gpu_only.rs
  lib/core/src/system/gpu/data/texture/storage/owned.rs
Labels: Category: API, Category: Renderer, Change: Breaking, Difficulty: Hard, Priority: Highest, Type: Enhancement

#131 Fix build.sh
  script/build.sh
Labels: Category: External, Change: Non-Breaking, Difficulty: Core Contributor, Priority: Highest, Type: Enhancement

#132 New Text Component
  lib/core/src/display/shape.rs
  lib/core/src/display/shape/text.rs
  lib/core/src/display/shape/text/buffer.rs
  lib/core/src/display/shape/text/buffer/fragment.rs
  lib/core/src/display/shape/text/glyph.rs
  lib/core/src/display/shape/text/glyph/font.rs
  lib/core/src/display/shape/text/glyph/glyph.glsl
  lib/core/src/display/shape/text/glyph/msdf.rs
  lib/core/src/display/shape/text/glyph/pen.rs
  lib/core/src/display/shape/text/glyph/system.rs
  lib/core/src/display/shape/text/msdf_frag.glsl
  lib/core/src/display/shape/text/msdf_vert.glsl
  lib/core/src/display/shape/text/program.rs
  lib/core/src/display/shape/text/program/cursor_frag.glsl
  lib/core/src/display/shape/text/program/cursor_vert.glsl
  lib/core/src/display/shape/text/program/msdf_frag.glsl
  lib/core/src/display/shape/text/program/msdf_vert.glsl
  lib/core/src/display/shape/text/text_field.rs
  lib/core/src/display/shape/text/text_field/buffer/glyph_square.rs
  lib/core/src/display/shape/text/text_field/buffer/line.rs
  lib/core/src/display/shape/text/text_field/content.rs
  lib/core/src/display/shape/text/text_field/content/line.rs
  lib/core/src/display/shape/text/text_field/cursor.rs
  lib/core/src/display/shape/text/text_field/render.rs
  lib/core/src/display/shape/text/text_field/render/assignment.rs
  lib/core/src/display/shape/text/text_field/render/selection.rs
  lib/core/src/display/symbol/geometry/compound/sprite.rs
  lib/core/src/examples.rs
  lib/core/src/examples/glyph_system.rs
  lib/core/src/examples/sprite_system.rs
  lib/core/src/examples/text.rs
  lib/core/src/examples/text_selecting.rs
  lib/core/src/examples/text_typing.rs
  lib/core/src/system/gpu/data/buffer.rs
Labels: Category: BaseGL API, Category: BaseGL Renderer, Change: Breaking, Difficulty: Hard, Priority: Highest, Type: Enhancement

#148 File size checking 📏
  .github/workflows/build.yml
  examples/webpack.common.js
  script/assert_max_wasm_size.sh
  script/minimize_wasm.sh
Labels: Category: IDE, Change: Non-Breaking, Difficulty: Core Contributor, Priority: Highest, Type: Enhancement

#133 World Integration 🌎🕊️ to Css3dSystem
  .github/workflows/build.yml
  lib/core/src/control/io/mouse.rs
  lib/core/src/control/io/mouse/event.rs
  lib/core/src/display/object.rs
  lib/core/src/display/scene.rs
  lib/core/src/examples.rs
  lib/core/src/examples/css3d_system.rs
  lib/core/src/examples/easing_animator.rs
  lib/core/src/system/web/dom/html.rs
  lib/core/src/system/web/dom/html/css3d_object.rs
  lib/core/src/system/web/dom/html/css3d_renderer.rs
  lib/core/src/system/web/dom/html/css3d_system.rs
  lib/core/src/system/web/dom/html/html_object.rs
  lib/core/src/system/web/dom/html/html_renderer.rs
  lib/core/src/system/web/dom/html/html_scene.rs
  lib/core/src/system/web/dom/html/snippets.js
  lib/core/tests/css3d_system.rs
  lib/core/tests/html_renderer.rs
  lib/core/tests/physics_simulator.rs
  lib/logger/Cargo.toml
  lib/logger/src/lib.rs
  lib/system/web/Cargo.toml
  lib/system/web/src/dom/dom_container.rs
  lib/system/web/src/lib.rs
  lib/web-test/src/bench_container.rs
  lib/web-test/src/container.rs
  lib/web-test/src/group.rs
Labels: Category: BaseGL API, Category: BaseGL Renderer, Category: Documentation, Category: Performance, Change: Breaking, Difficulty: Core Contributor, Priority: Highest, Type: Enhancement

#156 Utilities for safe usage of handles with RefCell values.
  lib/ide/utils/Cargo.toml
  lib/ide/utils/src/cell.rs
  lib/ide/utils/src/lib.rs
Labels: Category: IDE, Change: Non-Breaking, Difficulty: Core Contributor, Priority: Highest, Type: Enhancement

#154 Wip/ao/clipboard
  lib/core/src/display/shape/text/text_field.rs
  lib/core/src/display/shape/text/text_field/content.rs
  lib/core/src/display/shape/text/text_field/render.rs
  lib/core/src/display/shape/text/text_field/render/assignment.rs
  lib/core/src/examples/text_selecting.rs
  lib/core/src/examples/text_typing.rs
  lib/core/src/system/web.rs
  lib/core/src/system/web/text_input.rs
  lib/core/src/system/web/text_input/text_input.js
  lib/core/webdriver.json
Labels: Category: BaseGL API, Change: Breaking, Difficulty: Beginner, Priority: High, Type: Enhancement

#160 Moving cursors after each edit
  lib/core/src/display/shape/text/text_field.rs
  lib/core/src/display/shape/text/text_field/content.rs
  lib/core/src/display/shape/text/text_field/cursor.rs
  lib/core/src/display/shape/text/text_field/location.rs
  lib/core/src/display/shape/text/text_field/render/selection.rs
  lib/core/src/examples/text_selecting.rs
Labels: Category: BaseGL API, Change: Breaking, Difficulty: Intermediate, Priority: High, Type: Enhancement

#167 Mock File Manager Server
  Cargo.toml
  lib/ide/file-manager/mock-server/Cargo.toml
  lib/ide/file-manager/mock-server/README.md
  lib/ide/file-manager/mock-server/src/main.rs
  lib/ide/json-rpc/src/messages.rs
  lib/ide/parser/Cargo.toml
  lib/ide/parser/src/wsclient.rs
  lib/ide/utils/src/env.rs
  lib/ide/utils/src/lib.rs
  script/rust/src/bin/test-all.rs
Labels: Category: External, Change: Non-Breaking, Difficulty: Core Contributor, Priority: Highest, Type: Enhancement

#174 Fixes and Improvements for File Manager Mock Server
  lib/ide/file-manager/mock-server/Cargo.toml
  lib/ide/file-manager/mock-server/README.md
  lib/ide/file-manager/mock-server/src/main.rs
Labels: Category: IDE, Change: Non-Breaking, Difficulty: Core Contributor, Priority: Highest, Type: Enhancement

#173 JSON-RPC uses `params`, not `input`
  lib/ide/file-manager/README.md
  lib/ide/file-manager/src/lib.rs
  lib/ide/json-rpc/src/messages.rs
Labels: Category: IDE, Change: Non-Breaking, Difficulty: Core Contributor, Priority: Highest, Type: Enhancement

#172 Make JSON-RPC handler more async-compatible
  lib/ide/file-manager/src/lib.rs
  lib/ide/json-rpc/Cargo.toml
  lib/ide/json-rpc/src/handler.rs
  lib/ide/json-rpc/src/test_util/transport/mock.rs
  lib/ide/json-rpc/src/transport.rs
  lib/ide/json-rpc/tests/test.rs
Labels: Category: IDE, Change: Non-Breaking, Difficulty: Core Contributor, Priority: Highest, Type: Enhancement

#170 TextField keyboard input.
  README.md
  lib/core/msdf-sys/src/lib.rs
  lib/core/msdf-sys/src/test_utils.rs
  lib/core/src/display/shape/text/glyph/font.rs
  lib/core/src/display/shape/text/glyph/msdf.rs
  lib/core/src/display/shape/text/glyph/pen.rs
  lib/core/src/display/shape/text/glyph/system.rs
  lib/core/src/display/shape/text/text_field.rs
  lib/core/src/display/shape/text/text_field/buffer/glyph_square.rs
  lib/core/src/display/shape/text/text_field/buffer/line.rs
  lib/core/src/display/shape/text/text_field/content.rs
  lib/core/src/display/shape/text/text_field/content/line.rs
  lib/core/src/display/shape/text/text_field/cursor.rs
  lib/core/src/display/shape/text/text_field/keyboard.rs
  lib/core/src/display/shape/text/text_field/render.rs
  lib/core/src/display/shape/text/text_field/render/assignment.rs
  lib/core/src/display/shape/text/text_field/render/selection.rs
  lib/frp/Cargo.toml
  lib/frp/src/io.rs
  lib/frp/src/io/keyboard.rs
  lib/gui/src/glyph_system.rs
  lib/gui/src/lib.rs
  lib/gui/src/text_field.rs
  lib/gui/src/text_typing.rs
Labels: Category: BaseGL API, Change: Breaking, Difficulty: Intermediate, Priority: Highest, Type: Enhancement

#165 Fix renderer & navigator resizing
  lib/core/src/animation/physics/inertia.rs
  lib/core/src/display/camera/camera2d.rs
  lib/core/src/display/navigation/navigator.rs
  lib/core/src/display/scene.rs
  lib/core/src/system/web/dom/html/css3d_renderer.rs
  lib/core/tests/css3d_system.rs
  lib/core/tests/physics_simulator.rs
  lib/gui/src/css3d_system.rs
  lib/gui/src/lib.rs
  lib/system/web/src/dom/dom_container.rs
  lib/system/web/src/lib.rs
Labels: Category: BaseGL API, Category: BaseGL Renderer, Change: Non-Breaking, Difficulty: Core Contributor, Priority: Highest, Type: Bug

#175 TextField mouse input
  lib/core/src/control/io/mouse2.rs
  lib/core/src/display/scene.rs
  lib/core/src/display/shape/text/text_field.rs
  lib/core/src/display/shape/text/text_field/frp.rs
  lib/core/src/display/shape/text/text_field/frp/keyboard.rs
  lib/core/src/display/shape/text/text_field/frp/mouse.rs
  lib/core/src/system/web/text_input.rs
  lib/frp/src/io/keyboard.rs
  lib/frp/src/io/mouse.rs
  lib/frp/src/lib.rs
  lib/gui/src/shapes.rs
  lib/gui/src/text_field.rs
Labels: Category: BaseGL API, Change: Breaking, Difficulty: Hard, Priority: Highest, Type: Enhancement

#183 Fixes for Rendering on Windows
  lib/core/src/display/shape/text/glyph/system.rs
  lib/core/src/display/symbol/geometry/compound/sprite.rs
Labels: Category: BaseGL Renderer, Change: Non-Breaking, Difficulty: Core Contributor, Priority: Highest, Type: Enhancement

#159 Initial Project View
  Cargo.toml
  app/src/index.js
  lib/core/msdf-sys/src/lib.rs
  lib/core/src/animation/physics/inertia.rs
  lib/core/src/display/camera/camera2d.rs
  lib/core/src/display/navigation/navigator.rs
  lib/core/src/display/shape/text/text_field.rs
  lib/core/tests/physics_simulator.rs
  lib/gui/Cargo.toml
  lib/gui/src/css3d_system.rs
  lib/gui/src/ide.rs
  lib/gui/src/lib.rs
  lib/ide/Cargo.toml
  lib/ide/json-rpc/src/handler.rs
  lib/ide/json-rpc/src/transport.rs
  lib/ide/src/entry_point.rs
  lib/ide/src/lib.rs
  lib/ide/src/todo/executor.rs
  lib/ide/src/todo/mod.rs
  lib/ide/src/view.rs
  lib/ide/src/view/layout.rs
  lib/ide/src/view/project.rs
  lib/ide/src/view/temporary_panel.rs
  lib/ide/src/view/text_editor.rs
  lib/shapely/impl/src/shared.rs
Labels: Category: IDE, Change: Non-Breaking, Difficulty: Core Contributor, Priority: Highest, Type: Enhancement

#180 Text controller implementation
  lib/core/src/display/shape/text/text_field/render.rs
  lib/ide/Cargo.toml
  lib/ide/file-manager/Cargo.toml
  lib/ide/file-manager/src/lib.rs
  lib/ide/src/controller.rs
  lib/ide/src/controller/module.rs
  lib/ide/src/controller/project.rs
  lib/ide/src/controller/text.rs
  lib/ide/src/lib.rs
  lib/ide/utils/src/cell.rs
  lib/ide/utils/src/lib.rs
  lib/prelude/Cargo.toml
  lib/prelude/src/lib.rs
  lib/shapely/impl/src/shared.rs
Labels: Category: IDE, Change: Breaking, Difficulty: Intermediate, Priority: Highest, Type: Enhancement

#201 Navigator refactoring and other improvements on the new MouseManager
  lib/core/src/animation/animator/continuous.rs
  lib/core/src/control/callback.rs
  lib/core/src/control/event_loop.rs
  lib/core/src/control/io.rs
  lib/core/src/control/io/mouse.rs
  lib/core/src/control/io/mouse/button.rs
  lib/core/src/control/io/mouse/event.rs
  lib/core/src/control/io/mouse2.rs
  lib/core/src/display/camera/camera2d.rs
  lib/core/src/display/navigation/navigator/events.rs
  lib/core/src/display/scene.rs
  lib/core/src/display/shape/text/text_field/frp.rs
  lib/core/src/display/shape/text/text_field/frp/mouse.rs
  lib/core/src/display/world.rs
  lib/frp/src/io/mouse.rs
  lib/gui/src/shapes.rs
  lib/gui/src/sprite_system.rs
  lib/ide/src/todo/executor.rs
  lib/system/web/src/lib.rs
  lib/web-test/src/bencher.rs
Labels: Category: BaseGL API, Category: IDE, Change: Non-Breaking, Difficulty: Core Contributor, Priority: High, Type: Enhancement

#203 File Manager Integration
  lib/core/src/control/event_loop.rs
  lib/ide/Cargo.toml
  lib/ide/json-rpc/src/handler.rs
  lib/ide/json-rpc/src/test_util/transport/mock.rs
  lib/ide/json-rpc/src/transport.rs
  lib/ide/src/controller/module.rs
  lib/ide/src/controller/project.rs
  lib/ide/src/controller/text.rs
  lib/ide/src/entry_point.rs
  lib/ide/src/executor.rs
  lib/ide/src/executor/global.rs
  lib/ide/src/executor/web.rs
  lib/ide/src/lib.rs
  lib/ide/src/todo/executor.rs
  lib/ide/src/todo/mod.rs
  lib/ide/src/transport.rs
  lib/ide/src/transport/web.rs
  lib/ide/src/view/project.rs
  lib/ide/utils/src/channel.rs
  lib/ide/utils/src/lib.rs
  lib/shapely/impl/src/shared.rs
  lib/system/web/src/closure.rs
  lib/system/web/src/closure/storage.rs
  lib/system/web/src/lib.rs
  script/assert_max_wasm_size.sh
Labels: Category: IDE, Change: Non-Breaking, Difficulty: Core Contributor, Priority: Highest, Type: Enhancement

#171 Updating Chrome to v80 in CI
  script/test.sh
Labels: Change: Non-Breaking, Difficulty: Beginner, Priority: Medium, Type: Bug, Type: Research Needed

#212 Pass IDMap to scala parser.
  lib/data/Cargo.toml
  lib/data/src/lib.rs
  lib/data/src/text.rs
  lib/ide/ast/impl/Cargo.toml
  lib/ide/ast/impl/src/lib.rs
  lib/ide/parser/Cargo.toml
  lib/ide/parser/README.md
  lib/ide/parser/build.rs
  lib/ide/parser/src/api.rs
  lib/ide/parser/src/jsclient.rs
  lib/ide/parser/src/lib.rs
  lib/ide/parser/src/main.rs
  lib/ide/parser/src/wsclient.rs
  lib/ide/parser/tests/parsing.rs
  lib/ide/parser/tests/web.rs
Labels: Category: IDE, Change: Breaking, Difficulty: Core Contributor, Priority: Highest, Type: Enhancement

#219 View x Controller integration
  lib/core/Cargo.toml
  lib/core/src/control/io.rs
  lib/core/src/control/io/keyboard.rs
  lib/core/src/control/io/keyboard/listener.rs
  lib/core/src/display/shape/text/text_field.rs
  lib/core/src/display/shape/text/text_field/content/line.rs
  lib/core/src/system/web/text_input.rs
  lib/frp/src/io/keyboard.rs
  lib/ide/Cargo.toml
  lib/ide/file-manager/mock-server/.gitignore
  lib/ide/src/controller/project.rs
  lib/ide/src/executor/web.rs
  lib/ide/src/lib.rs
  lib/ide/src/view/layout.rs
  lib/ide/src/view/project.rs
  lib/ide/src/view/text_editor.rs
Labels: Category: IDE, Change: Non-Breaking, Difficulty: Core Contributor, Priority: Highest, Type: Enhancement

#221 Minimal Text API for Double Representation
  lib/core/src/control/event_loop.rs
  lib/core/src/display/shape/text/text_field.rs
  lib/core/src/display/shape/text/text_field/content.rs
  lib/core/src/display/shape/text/text_field/cursor.rs
  lib/core/src/display/shape/text/text_field/frp.rs
  lib/core/src/display/shape/text/text_field/frp/keyboard.rs
  lib/core/src/display/shape/text/text_field/frp/mouse.rs
  lib/core/src/display/shape/text/text_field/location.rs
  lib/core/src/display/shape/text/text_field/render.rs
  lib/core/src/display/shape/text/text_field/render/assignment.rs
  lib/core/src/display/shape/text/text_field/render/selection.rs
  lib/data/src/text.rs
  lib/ide/Cargo.toml
  lib/ide/ast/impl/src/lib.rs
  lib/ide/json-rpc/src/test_util/transport/mock.rs
  lib/ide/parser/Cargo.toml
  lib/ide/parser/src/api.rs
  lib/ide/parser/src/jsclient.rs
  lib/ide/parser/src/lib.rs
  lib/ide/parser/src/wsclient.rs
  lib/ide/parser/tests/web.rs
  lib/ide/src/controller.rs
  lib/ide/src/controller/module.rs
  lib/ide/src/controller/project.rs
  lib/ide/src/controller/text.rs
  lib/ide/src/double_representation.rs
  lib/ide/src/lib.rs
  lib/ide/src/view/project.rs
  lib/ide/src/view/text_editor.rs
  script/assert_max_wasm_size.sh
Labels: Category: BaseGL API, Category: IDE, Change: Breaking, Difficulty: Hard, Priority: Highest, Type: Enhancement
