Repository enso-org/ide, pull requests merged in 2020-04, with the labels that each got.

#332 Fix problems with tests run in parallel
  src/rust/ide/src/executor/global.rs
  src/rust/ide/src/model/module.rs
Labels: Category: IDE, Change: Non-Breaking, Difficulty: Beginner, Priority: Highest, Type: Bug

#313 Create crumbs for missing Shapes
  src/rust/ide/ast/impl/src/crumbs.rs
  src/rust/ide/ast/impl/src/lib.rs
Labels: Category: IDE, Change: Non-Breaking, Difficulty: Core Contributor, Priority: Highest, Type: Enhancement

#323 #[derive(CloneRef)] also works on types with type-level bounds.
  src/rust/lib/macro-utils/src/lib.rs
  src/rust/lib/shapely/impl/tests/derive_clone_ref.rs
  src/rust/lib/shapely/macros/src/derive_clone_ref.rs
Labels: Category: External, Change: Non-Breaking, Difficulty: Core Contributor, Priority: High, Type: Enhancement

#352 Update Documentation to Refer to New Domain
  README.md
  docs/contributing.md
Labels: Category: Documentation, Change: Non-Breaking, Difficulty: Beginner, Priority: Low, Type: Enhancement

#340 Fixed PageUp and PageDown
  src/rust/ensogl/src/display/shape/text/text_field.rs
  src/rust/ensogl/src/display/shape/text/text_field/content/line.rs
  src/rust/ensogl/src/display/shape/text/text_field/cursor.rs
  src/rust/ensogl/src/display/shape/text/text_field/frp/keyboard.rs
  src/rust/ide/src/view/text_editor.rs
Labels: Category: IDE, Change: Non-Breaking, Priority: Medium, Type: Bug

#357 async sleep function
  src/rust/Cargo.lock
  src/rust/lib/debug-scenes/Cargo.toml
  src/rust/lib/system/web/Cargo.toml
  src/rust/lib/system/web/src/lib.rs
Labels: Category: IDE, Change: Non-Breaking, Difficulty: Beginner, Priority: High, Type: Enhancement

#380 Connection Discovery
  src/rust/ide/ast/impl/src/crumbs.rs
  src/rust/ide/src/controller/project.rs
  src/rust/ide/src/double_representation.rs
  src/rust/ide/src/double_representation/alias_analysis.rs
  src/rust/ide/src/double_representation/alias_analysis/test_utils.rs
  src/rust/ide/src/double_representation/connection.rs
  src/rust/ide/src/double_representation/definition.rs
  src/rust/ide/src/double_representation/graph.rs
  src/rust/ide/src/double_representation/node.rs
  src/rust/ide/src/double_representation/test_utils.rs
Labels: Category: IDE, Change: Non-Breaking, Difficulty: Core Contributor, Priority: Highest, Type: Enhancement

#358 Span Tree
  build/run.js
  src/rust/Cargo.lock
  src/rust/Cargo.toml
  src/rust/ide/Cargo.toml
  src/rust/ide/ast/impl/src/crumbs.rs
  src/rust/ide/ast/impl/src/known.rs
  src/rust/ide/ast/impl/src/lib.rs
  src/rust/ide/ast/impl/src/opr.rs
  src/rust/ide/parser/tests/ast.rs
  src/rust/ide/span-tree/Cargo.toml
  src/rust/ide/span-tree/src/action.rs
  src/rust/ide/span-tree/src/builder.rs
  src/rust/ide/span-tree/src/generate.rs
  src/rust/ide/span-tree/src/iter.rs
  src/rust/ide/span-tree/src/lib.rs
  src/rust/ide/span-tree/src/node.rs
  src/rust/ide/src/double_representation/alias_analysis.rs
  src/rust/ide/src/lib.rs
Labels: Category: IDE, Change: Non-Breaking, Difficulty: Hard, Priority: High, Type: Enhancement

#347 Flexer: Automata implementation.
  src/js/package-lock.json
  src/rust/Cargo.lock
  src/rust/Cargo.toml
  src/rust/lib/flexer/Cargo.toml
  src/rust/lib/flexer/src/automata.rs
  src/rust/lib/flexer/src/automata/alphabet.rs
  src/rust/lib/flexer/src/automata/dfa.rs
  src/rust/lib/flexer/src/automata/nfa.rs
  src/rust/lib/flexer/src/automata/pattern.rs
  src/rust/lib/flexer/src/automata/state.rs
  src/rust/lib/flexer/src/data.rs
  src/rust/lib/flexer/src/data/matrix.rs
  src/rust/lib/flexer/src/group.rs
  src/rust/lib/flexer/src/group/rule.rs
  src/rust/lib/flexer/src/lib.rs
  src/rust/lib/flexer/src/parser.rs
Labels: Category: IDE, Change: Non-Breaking, Difficulty: Core Contributor, Priority: Highest, Type: Enhancement

#353 Added MacOS specific shortcuts
  src/rust/ensogl/src/display/shape/text/text_field/frp/keyboard.rs
  src/rust/lib/prelude/Cargo.toml
  src/rust/lib/system/web/Cargo.toml
  src/rust/lib/system/web/src/lib.rs
  src/rust/lib/system/web/src/platform.rs
Labels: Category: IDE, Change: Non-Breaking, Priority: High

#378 Fix failing CI
  src/js/lib/client/package.js
Labels: Category: Performance, Change: Breaking, Difficulty: Beginner, Priority: Highest, Type: Bug

#381 Crumb implementation for Match and Ambiguous.
  src/rust/ide/ast/impl/src/crumbs.rs
  src/rust/ide/ast/impl/src/lib.rs
  src/rust/ide/ast/impl/src/repr.rs
  src/rust/ide/parser/tests/crumbs.rs
  src/rust/ide/parser/tests/parsing.rs
  src/rust/ide/span-tree/src/node.rs
  src/rust/ide/src/double_representation/alias_analysis.rs
  src/rust/ide/src/double_representation/definition.rs
Labels: Category: IDE, Change: Non-Breaking, Difficulty: Core Contributor, Priority: Highest, Type: Enhancement

#383 Span Tree Operations
  build/run.js
  src/rust/Cargo.lock
  src/rust/ide/ast/impl/src/known.rs
  src/rust/ide/ast/impl/src/opr.rs
  src/rust/ide/ast/impl/src/prefix.rs
  src/rust/ide/parser/tests/ast.rs
  src/rust/ide/span-tree/Cargo.toml
  src/rust/ide/span-tree/src/action.rs
  src/rust/ide/span-tree/src/builder.rs
  src/rust/ide/span-tree/src/generate.rs
  src/rust/ide/span-tree/src/iter.rs
  src/rust/ide/span-tree/src/lib.rs
  src/rust/ide/span-tree/src/node.rs
  src/rust/ide/src/double_representation/alias_analysis.rs
  src/rust/ide/src/double_representation/alias_analysis/test_utils.rs
  src/rust/ide/src/double_representation/definition.rs
Labels: Category: IDE, Change: Breaking, Difficulty: Hard, Priority: Highest, Type: Enhancement

#387 Double Representation Connection operations
  src/rust/Cargo.lock
  src/rust/ide/Cargo.toml
  src/rust/ide/ast/impl/src/crumbs.rs
  src/rust/ide/ast/impl/src/lib.rs
  src/rust/ide/ast/impl/src/opr.rs
  src/rust/ide/span-tree/src/action.rs
  src/rust/ide/span-tree/src/iter.rs
  src/rust/ide/span-tree/src/lib.rs
  src/rust/ide/span-tree/src/node.rs
  src/rust/ide/src/controller/graph.rs
  src/rust/ide/src/double_representation/alias_analysis.rs
  src/rust/ide/src/double_representation/alias_analysis/test_utils.rs
  src/rust/ide/src/double_representation/connection.rs
  src/rust/ide/src/double_representation/graph.rs
  src/rust/ide/src/double_representation/node.rs
Labels: Category: IDE, Change: Breaking, Difficulty: Core Contributor, Priority: Highest, Type: Enhancement

#388 Alias analysis support for macros
  src/rust/ide/ast/impl/src/crumbs.rs
  src/rust/ide/ast/impl/src/lib.rs
  src/rust/ide/ast/impl/src/macros.rs
  src/rust/ide/ast/impl/src/opr.rs
  src/rust/ide/ast/impl/src/prefix.rs
  src/rust/ide/parser/Cargo.toml
  src/rust/ide/parser/src/lib.rs
  src/rust/ide/parser/tests/bugs.rs
  src/rust/ide/parser/tests/macros.rs
  src/rust/ide/parser/tests/parsing.rs
  src/rust/ide/src/controller/graph.rs
  src/rust/ide/src/double_representation/alias_analysis.rs
  src/rust/ide/src/double_representation/definition.rs
Labels: Category: IDE, Change: Non-Breaking, Difficulty: Core Contributor, Priority: Highest, Type: Enhancement

#389 Generating SpanTree from macros
  src/rust/ide/ast/impl/src/lib.rs
  src/rust/ide/span-tree/src/action.rs
  src/rust/ide/span-tree/src/generate.rs
  src/rust/ide/span-tree/src/generate/macros.rs
  src/rust/ide/span-tree/src/iter.rs
  src/rust/ide/span-tree/src/node.rs
Labels: Category: IDE, Change: Breaking, Difficulty: Core Contributor, Priority: Highest, Type: Enhancement

#393 Fix crashes on IDE startup
  src/rust/ensogl/src/display/shape/text/glyph/system.rs
  src/rust/ide/src/view/node_editor.rs
  src/rust/lib/logger/src/lib.rs
Labels: Category: BaseGL Renderer, Category: IDE, Change: Non-Breaking, Difficulty: Beginner, Priority: Highest, Type: Bug

#395 Connection Operations Refactoring
  src/rust/ide/span-tree/src/iter.rs
  src/rust/ide/span-tree/src/lib.rs
  src/rust/ide/span-tree/src/node.rs
  src/rust/ide/src/controller/graph.rs
  src/rust/ide/src/double_representation/alias_analysis.rs
Labels: Category: IDE, Change: Non-Breaking, Difficulty: Core Contributor, Priority: High, Type: Enhancement

#294 Update Contributing Guide to address test suite requirements.
  docs/contributing.md
Labels: Category: IDE, Change: Non-Breaking, Priority: Medium, Type: Bug, Type: Discussion, Type: Research Needed
