Repository enso-org/ide, pull requests merged in 2020-10, with the labels that each got.

#820 Quickfix - remove cursors on drop
  src/rust/ensogl/example/src/glyph_system.rs
  src/rust/ensogl/example/src/lib.rs
  src/rust/ensogl/example/src/text_area.rs
  src/rust/ensogl/example/src/text_field.rs
  src/rust/ensogl/example/src/text_typing.rs
  src/rust/ensogl/lib/text/src/component/area.rs
  src/rust/ide/src/executor/global.rs
Labels: Category: IDE, Change: Non-Breaking, Difficulty: Beginner, Priority: Highest, Type: Bug

#831 Fix searcher picking filtered-out suggestion
  src/rust/ide/src/view/node_editor.rs
  src/rust/lib/system/web/src/platform.rs
Labels: Category: IDE, Change: Non-Breaking, Difficulty: Beginner, Priority: Highest, Type: Bug

#832 Fix shortcuts
  src/rust/ensogl/example/src/text_area.rs
  src/rust/ensogl/lib/text/src/buffer/view.rs
  src/rust/ensogl/lib/text/src/buffer/view/movement.rs
  src/rust/ensogl/lib/text/src/component/area.rs
  src/rust/ide/view/graph-editor/src/lib.rs
  src/rust/lib/frp/src/io/keyboard.rs
Labels: Category: IDE, Change: Non-Breaking, Difficulty: Intermediate, Priority: Highest, Type: Bug

#839 Fix zooming and alt-tabbing
  src/rust/ensogl/lib/core/src/control/io/mouse.rs
  src/rust/ensogl/lib/msdf-sys/msdfgen_wasm.js
  src/rust/lib/frp/src/io/keyboard.rs
Labels: Category: GUI, Change: Non-Breaking, Difficulty: Beginner, Priority: Highest, Type: Bug

#841 Code Editor
  src/rust/ensogl/lib/core/src/display/shape/text/text_field/render.rs
  src/rust/ensogl/lib/text/src/buffer/view.rs
  src/rust/ensogl/lib/text/src/buffer/view/selection.rs
  src/rust/ensogl/lib/text/src/component/area.rs
  src/rust/ensogl/lib/text/src/lib.rs
  src/rust/ensogl/lib/text/src/typeface/glyph.rs
  src/rust/ide/src/ide.rs
  src/rust/ide/src/view.rs
  src/rust/ide/src/view/integration.rs
  src/rust/ide/src/view/layout.rs
  src/rust/ide/src/view/project.rs
  src/rust/ide/src/view/temporary_panel.rs
  src/rust/ide/src/view/text_editor.rs
  src/rust/ide/tests/language_server.rs
  src/rust/ide/view/graph-editor/src/component/node/port.rs
  src/rust/ide/view/src/code_editor.rs
  src/rust/ide/view/src/debug_scenes/interface.rs
  src/rust/ide/view/src/lib.rs
  src/rust/ide/view/src/project.rs
  src/rust/lib/frp/src/io/keyboard.rs
Labels: Category: IDE, Change: Non-Breaking, Difficulty: Core Contributor, Priority: Highest, Type: Bug

#845 Add missing shortcut to docs
  docs/product/shortcuts.md
Labels: Category: Documentation, Change: Non-Breaking, Difficulty: Beginner, Priority: Highest, Type: Bug

#846 Fix bugs in new code editor
  docs/product/shortcuts.md
  src/rust/ide/src/view/integration.rs
  src/rust/ide/view/src/code_editor.rs
  src/rust/ide/view/src/project.rs
Labels: Category: GUI, Category: IDE, Change: Non-Breaking, Difficulty: Intermediate, Priority: Highest, Type: Bug

#847 Fix invisible cursor on nodes
  src/rust/ensogl/example/src/text_area.rs
  src/rust/ensogl/lib/text/src/component/area.rs
Labels: Category: IDE, Change: Non-Breaking, Difficulty: Beginner, Priority: Highest, Type: Bug

#842 Documentation parser quickfix - update parser commit from Engine repo
  src/rust/ide/lib/parser/build.rs
  src/rust/ide/view/src/documentation.rs
  src/rust/ide/view/src/documentation/spinner.html
Labels: Category: IDE, Change: Non-Breaking, Difficulty: Intermediate, Priority: High, Type: Bug

#819 Theme fixes - light mode selection color, dark mode container, get html colors from theme manager ...
  src/rust/ensogl/lib/theme/src/lib.rs
  src/rust/ide/view/graph-editor/src/component/visualization/container.rs
  src/rust/ide/view/src/documentation.rs
Labels: Category: IDE, Change: Non-Breaking, Difficulty: Beginner, Priority: High, Type: Enhancement

#848 Visualization active state for keyboard events
  src/js/package-lock.json
  src/rust/ensogl/lib/core/src/control/io/mouse/event.rs
  src/rust/ensogl/lib/core/src/display/scene.rs
  src/rust/ide/view/graph-editor/src/component/visualization/foreign/java_script/instance.rs
  src/rust/ide/view/src/debug_scenes/visualization.rs
  src/rust/lib/frp/src/io.rs
  src/rust/lib/frp/src/io/js.rs
  src/rust/lib/frp/src/io/keyboard.rs
  src/rust/lib/shortcuts/example/src/lib.rs
Labels: Category: GUI, Change: Non-Breaking, Difficulty: Hard, Priority: High, Type: Enhancement

#854 Fix disconnecting
  src/rust/ide/view/graph-editor/src/lib.rs
Labels: Category: GUI, Change: Non-Breaking, Difficulty: Intermediate, Priority: Highest, Type: Bug

#838 Focus manager (Part 1, internal focus management)
  build/run.js
  docs/product/shortcuts.md
  src/rust/Cargo.lock
  src/rust/ensogl/example/Cargo.toml
  src/rust/ensogl/example/src/text_area.rs
  src/rust/ensogl/lib/core/Cargo.toml
  src/rust/ensogl/lib/core/src/application.rs
  src/rust/ensogl/lib/core/src/application/command.rs
  src/rust/ensogl/lib/core/src/application/frp.rs
  src/rust/ensogl/lib/core/src/application/shortcut.rs
  src/rust/ensogl/lib/core/src/application/view.rs
  src/rust/ensogl/lib/core/src/gui/component.rs
  src/rust/ensogl/lib/core/src/gui/cursor.rs
  src/rust/ensogl/lib/drop-down-menu/Cargo.toml
  src/rust/ensogl/lib/drop-down-menu/src/component.rs
  src/rust/ensogl/lib/list-view/Cargo.toml
  src/rust/ensogl/lib/list-view/src/component.rs
  src/rust/ensogl/lib/text/Cargo.toml
  src/rust/ensogl/lib/text/embedded-fonts/Cargo.toml
  src/rust/ensogl/lib/text/msdf-sys/Cargo.toml
  src/rust/ensogl/lib/text/src/buffer/view.rs
  src/rust/ensogl/lib/text/src/component/area.rs
  src/rust/ide/Cargo.toml
  src/rust/ide/lib/ast/impl/Cargo.toml
  src/rust/ide/lib/ast/macros/Cargo.toml
  src/rust/ide/lib/enso-protocol/Cargo.toml
  src/rust/ide/lib/json-rpc/Cargo.toml
  src/rust/ide/lib/parser/Cargo.toml
  src/rust/ide/lib/span-tree/Cargo.toml
  src/rust/ide/lib/utils/Cargo.toml
  src/rust/ide/src/view/integration.rs
  src/rust/ide/view/Cargo.toml
  src/rust/ide/view/graph-editor/Cargo.toml
  src/rust/ide/view/graph-editor/src/component/node.rs
  src/rust/ide/view/graph-editor/src/component/node/port.rs
  src/rust/ide/view/graph-editor/src/component/node/port/output.rs
  src/rust/ide/view/graph-editor/src/component/visualization/container/action_bar.rs
  src/rust/ide/view/graph-editor/src/component/visualization/container/visualization_chooser.rs
  src/rust/ide/view/graph-editor/src/lib.rs
  src/rust/ide/view/src/code_editor.rs
  src/rust/ide/view/src/documentation.rs
  src/rust/ide/view/src/project.rs
  src/rust/ide/view/src/searcher.rs
  src/rust/lib/callback/Cargo.toml
  src/rust/lib/code-builder/Cargo.toml
  src/rust/lib/frp/Cargo.toml
  src/rust/lib/frp/src/network.rs
  src/rust/lib/fuzzly/Cargo.toml
  src/rust/lib/shortcuts/Cargo.toml
  src/rust/lib/shortcuts/example/Cargo.toml
  src/rust/lib/shortcuts/example/src/lib.rs
  src/rust/lib/shortcuts/src/lib.rs
  src/rust/lib/system/web/Cargo.toml
  src/rust/lib/web-test/Cargo.toml
Labels: Category: BaseGL API, Category: GUI, Change: Breaking, Difficulty: Core Contributor, Priority: Highest, Type: Enhancement

#851 Refactor animations to better allow animations of color and other components.
  build/run.js
  src/rust/Cargo.lock
  src/rust/ensogl/lib/core/Cargo.toml
  src/rust/ensogl/lib/core/src/data/color.rs
  src/rust/ensogl/lib/core/src/data/color/animation.rs
  src/rust/ensogl/lib/core/src/gui/component.rs
Labels: Category: BaseGL API, Change: Breaking, Difficulty: Core Contributor, Priority: Highest, Type: Enhancement

#856 Labels on nodes should reflect function argument names
  build/run.js
  docs/product/shortcuts.md
  src/rust/Cargo.lock
  src/rust/Cargo.toml
  src/rust/ensogl/lib/theme/src/lib.rs
  src/rust/ide/lib/span-tree/Cargo.toml
  src/rust/ide/lib/span-tree/example/Cargo.toml
  src/rust/ide/lib/span-tree/example/src/lib.rs
  src/rust/ide/lib/span-tree/src/builder.rs
  src/rust/ide/lib/span-tree/src/generate.rs
  src/rust/ide/lib/span-tree/src/lib.rs
  src/rust/ide/lib/span-tree/src/node.rs
  src/rust/ide/view/graph-editor/src/component/node/port.rs
  src/rust/ide/view/src/debug_scenes/interface.rs
Labels: Category: IDE, Change: Non-Breaking, Difficulty: Core Contributor, Priority: Highest, Type: Enhancement

#834 Fast-action icons for nodes
  build/run.js
  src/rust/Cargo.lock
  src/rust/Cargo.toml
  src/rust/ensogl/example/Cargo.toml
  src/rust/ensogl/example/src/list_view.rs
  src/rust/ensogl/lib/components/Cargo.toml
  src/rust/ensogl/lib/components/src/drop_down_menu.rs
  src/rust/ensogl/lib/components/src/lib.rs
  src/rust/ensogl/lib/components/src/list_view.rs
  src/rust/ensogl/lib/components/src/list_view/entry.rs
  src/rust/ensogl/lib/components/src/toggle_button.rs
  src/rust/ensogl/lib/core/src/data/color/animation.rs
  src/rust/ensogl/lib/core/src/data/color/data.rs
  src/rust/ensogl/lib/core/src/display/shape.rs
  src/rust/ensogl/lib/core/src/display/shape/compound.rs
  src/rust/ensogl/lib/core/src/display/shape/compound/events.rs
  src/rust/ensogl/lib/core/src/display/shape/constants.rs
  src/rust/ensogl/lib/core/src/display/shape/primitive.rs
  src/rust/ensogl/lib/core/src/display/shape/primitive/style_watch.rs
  src/rust/ensogl/lib/core/src/display/shape/primitive/system.rs
  src/rust/ensogl/lib/core/src/display/style/path.rs
  src/rust/ensogl/lib/drop-down-menu/Cargo.toml
  src/rust/ensogl/lib/list-view/Cargo.toml
  src/rust/ensogl/lib/list-view/src/lib.rs
  src/rust/ensogl/lib/theme/src/lib.rs
  src/rust/ide/Cargo.toml
  src/rust/ide/src/view/integration.rs
  src/rust/ide/view/Cargo.toml
  src/rust/ide/view/graph-editor/Cargo.toml
  src/rust/ide/view/graph-editor/src/component/edge.rs
  src/rust/ide/view/graph-editor/src/component/node.rs
  src/rust/ide/view/graph-editor/src/component/node/action_bar.rs
  src/rust/ide/view/graph-editor/src/component/node/action_bar/icon.rs
  src/rust/ide/view/graph-editor/src/component/node/icon.rs
  src/rust/ide/view/graph-editor/src/component/node/port.rs
  src/rust/ide/view/graph-editor/src/component/node/port/output.rs
  src/rust/ide/view/graph-editor/src/component/type_coloring.rs
  src/rust/ide/view/graph-editor/src/component/visualization/container/visualization_chooser.rs
  src/rust/ide/view/graph-editor/src/lib.rs
  src/rust/ide/view/src/code_editor.rs
  src/rust/ide/view/src/searcher.rs
Labels: Category: GUI, Change: Non-Breaking, Difficulty: Hard, Priority: High, Type: Enhancement

#861 Fix releasing modified keys
  src/rust/lib/frp/src/io/keyboard.rs
Labels: Category: GUI, Change: Breaking, Difficulty: Hard, Priority: Highest, Type: Bug

#863 Update visualization chooser list when new entries are available
  src/rust/ensogl/lib/components/src/drop_down_menu.rs
  src/rust/ensogl/lib/core/src/display/object/class.rs
  src/rust/ide/view/graph-editor/src/component/visualization/container.rs
  src/rust/ide/view/graph-editor/src/component/visualization/container/action_bar.rs
  src/rust/ide/view/graph-editor/src/component/visualization/container/visualization_chooser.rs
Labels: Category: GUI, Change: Non-Breaking, Difficulty: Intermediate, Priority: High, Type: Bug

#866 Fix ExpectedArgument handling in SpanTree
  src/rust/ide/lib/span-tree/src/action.rs
Labels: Category: IDE, Change: Non-Breaking, Difficulty: Core Contributor, Priority: Highest, Type: Bug

#871 Fix node view leaking
  src/rust/ide/view/graph-editor/src/lib.rs
Labels: Category: GUI, Change: Non-Breaking, Difficulty: Intermediate, Priority: Highest, Type: Bug

#874 Fix visualization show action
  build/run.js
  src/rust/ensogl/lib/core/src/data/color/animation.rs
  src/rust/ide/view/graph-editor/src/lib.rs
Labels: Category: GUI, Change: Non-Breaking, Difficulty: Intermediate, Priority: High, Type: Bug

#880 PR: Fix node action bar hover area beeing too large.
  src/rust/ensogl/lib/core/src/display/world.rs
  src/rust/ide/view/graph-editor/src/component/node/action_bar.rs
Labels: Category: GUI, Difficulty: Beginner, Priority: Medium, Type: Bug

#875 PR: Connector position does not change if node size changes on connection
  src/rust/ide/view/graph-editor/src/lib.rs
Labels: Category: GUI, Difficulty: Core Contributor, Priority: High, Type: Bug

#887 Fix visualization expression.
  src/rust/ide/src/constants.rs
Labels: Category: IDE, Change: Breaking, Difficulty: Beginner, Priority: Highest, Type: Enhancement

#892 Fix traversing Seq pattern
  src/rust/ide/lib/span-tree/src/generate/macros.rs
Labels: Category: IDE, Change: Non-Breaking, Difficulty: Hard, Priority: High, Type: Bug

#893 Fix ExpectedArguments SpanTree Nodes in Infix
  docs/product/shortcuts.md
  src/rust/ide/lib/span-tree/src/generate.rs
  src/rust/ide/src/tests.rs
  src/rust/ide/view/graph-editor/src/lib.rs
Labels: Category: IDE, Change: Non-Breaking, Difficulty: Hard, Priority: High, Type: Bug

#870 PR: Replace Project Name Text Field with Text Field 2.0
  build/run.js
  src/rust/.cargo/config.toml
  src/rust/ensogl/lib/core/src/control/io.rs
  src/rust/ensogl/lib/core/src/control/io/keyboard.rs
  src/rust/ensogl/lib/core/src/control/io/keyboard/listener.rs
  src/rust/ensogl/lib/core/src/display/scene.rs
  src/rust/ensogl/lib/core/src/display/shape.rs
  src/rust/ensogl/lib/core/src/display/shape/text.rs
  src/rust/ensogl/lib/core/src/display/shape/text/glyph.rs
  src/rust/ensogl/lib/core/src/display/shape/text/glyph/font.rs
  src/rust/ensogl/lib/core/src/display/shape/text/glyph/glyph.glsl
  src/rust/ensogl/lib/core/src/display/shape/text/glyph/msdf.rs
  src/rust/ensogl/lib/core/src/display/shape/text/glyph/pen.rs
  src/rust/ensogl/lib/core/src/display/shape/text/glyph/system.rs
  src/rust/ensogl/lib/core/src/display/shape/text/text_field.rs
  src/rust/ensogl/lib/core/src/display/shape/text/text_field/content.rs
  src/rust/ensogl/lib/core/src/display/shape/text/text_field/content/line.rs
  src/rust/ensogl/lib/core/src/display/shape/text/text_field/content/location.rs
  src/rust/ensogl/lib/core/src/display/shape/text/text_field/cursor.rs
  src/rust/ensogl/lib/core/src/display/shape/text/text_field/frp.rs
  src/rust/ensogl/lib/core/src/display/shape/text/text_field/frp/keyboard.rs
  src/rust/ensogl/lib/core/src/display/shape/text/text_field/frp/mouse.rs
  src/rust/ensogl/lib/core/src/display/shape/text/text_field/render.rs
  src/rust/ensogl/lib/core/src/display/shape/text/text_field/render/assignment.rs
  src/rust/ensogl/lib/core/src/display/shape/text/text_field/render/selection.rs
  src/rust/ensogl/lib/core/src/display/shape/text/text_field/word_occurrence.rs
  src/rust/ensogl/lib/core/src/display/world.rs
  src/rust/ensogl/lib/core/src/system/web.rs
  src/rust/ensogl/lib/core/src/system/web/text_input.rs
  src/rust/ensogl/lib/text/src/component/area.rs
  src/rust/ensogl/lib/theme/src/lib.rs
  src/rust/ide/src/view/integration.rs
  src/rust/ide/view/graph-editor/src/component/breadcrumbs.rs
  src/rust/ide/view/graph-editor/src/component/breadcrumbs/breadcrumb.rs
  src/rust/ide/view/graph-editor/src/component/breadcrumbs/project_name.rs
  src/rust/ide/view/graph-editor/src/lib.rs
  src/rust/lib/frp/src/io.rs
  src/rust/lib/frp/src/io/keyboard_old.rs
  src/rust/lib/frp/src/macros.rs
  src/rust/lib/frp/src/nodes.rs
Labels: Category: IDE, Change: Non-Breaking, Difficulty: Core Contributor, Priority: High, Type: Enhancement

#897 Add Token node kind in SpanTree
  src/rust/ide/lib/span-tree/src/action.rs
  src/rust/ide/lib/span-tree/src/generate.rs
  src/rust/ide/lib/span-tree/src/node/kind.rs
Labels: Category: IDE, Change: Non-Breaking, Difficulty: Intermediate, Priority: Highest, Type: Enhancement
